/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    width: 100%;

    & + & {
        padding-top: baseline($root-baseline-multiplier);

        @include mq(bp3) {
            padding-top: baseline($root-baseline-multiplier * 2);
        }

        @include mq(bp4) {
            padding-top: baseline($root-baseline-multiplier * 3);
        }

        @include mq(bp5) {
            padding-top: baseline($root-baseline-multiplier * 4);
        }
    }
}
