/*
    Components: Brand
    ---
    Brand image/logo
*/

.c-brand {
    color: var(--text-color-dark);
    font-family: $alpha-font-family;
    font-weight: $beta-font-weight;
    font-feature-settings: "salt";
    margin-bottom: $alpha-whitespace;
    @include font-height($root-font-size,$root-baseline-multiplier);
}

.c-brand__line {
    // font-family: $delta-font-family;
    color: var(--text-color);
    font-weight: $alpha-font-weight;
    display: block;
    // @include font-height(ms(-1),4);
}
