/*
    Components: Brand
    ---
    Brand image/logo
*/

.c-brand {
    color: var(--highlight-color);
    // font-weight: normal;
    font-feature-settings: "salt";
    @include font-height($root-font-size,$root-baseline-multiplier);
}

.c-brand__line {
    color: var(--foreground-color);
    font-weight: normal;
}
