// Component: toggle checkbox



.c-toggle {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    align-items: center;
    margin-bottom: $alpha-whitespace;
    // font-weight: 600;
    // margin-bottom: 0;
    // font-family: $alpha-font-family;
    // margin: baseline(4);
    color: var(--color-neutral-light);
    @include font-height(ms(-2),4);

    .is-light & {
        color: var(--color-neutral);
    }
}

.c-toggle__checkbox {
    margin: 0 0 0 baseline(4);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 20px;
    width: 38px;
    height: 16px;
    transition: all $animation-duration-alpha $animation-easing-alpha;
    outline: none;

    .is-light & {
        background-color: var(--color-neutral-xxx-light);
        border: 2px solid var(--color-neutral-xxx-light);
    }

    &:after {
        content: "";
        display: block;
        background-color: white;
        border: 1px solid white;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
        border-radius: 100%;
        width: 22px;
        height: 22px;
        transform: translate(-2px,-5px);
        transition: all $animation-duration-alpha $animation-easing-alpha;
    }

    &:checked {

        .is-light & {
            background-color: hsl(var(--hue-alpha),var(--saturation-alpha),90%);
            border-color: hsl(var(--hue-alpha),var(--saturation-alpha),90%);
        }

        &:after {
            transform: translate(15px,-5px);

            .is-light & {
                background-color: var(--color-alpha);
                border-color: var(--color-alpha);
            }
        }
    }

    &:focus,
    &:active {
        &:after {
            border-color: hsl(var(--hue-alpha),var(--saturation-alpha),60%);
            box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.2), 0 0 0 3px hsla(var(--hue-alpha),var(--saturation-alpha),60%,.25);
        }
    }
}
