// Component: toggle checkbox

.c-toggle {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    align-items: center;
    // font-weight: 600;
    margin-bottom: 0;
    // font-family: $alpha-font-family;
    // background-color: var(--color-neutral-dark);
    margin: baseline(4);
    color: var(--color-neutral);
    @include font-height(ms(-2),4);
}

.c-toggle__checkbox {
    margin: 0 0 0 baseline(4);
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    // background-color: transparent;
    // background-color: white;
    background-color: var(--color-neutral-xx-light);
    // border-radius: baseline(3);
    // width: baseline(6);
    // height: baseline(3);
    border-radius: 20px;
    width: 36px;
    height: 12px;
    transition: color 0.1s ease-in;
    outline: none;
    // box-shadow: 0 0 0 1px var(--color-neutral);

    &:after {
        content: "";
        display: block;
        background-color: var(--color-neutral);
        // background-color: #fff;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        transform: translate(0,-4px);
        // width: baseline(2);
        // height: baseline(2);
        // transform: translate(baseline(0.5), baseline(0.5));
        transition: all 0.15s ease;
    }

    &:checked {
        background-color: var(--highlight-color);

        &:after {
            // background-color: var(--highlight-color);
            transform: translate(29px, 5px);
        }
    }

    &:focus,
    &:active {
        // box-shadow: 0 0 0 1px var(--color-neutral-dark);
        box-shadow: inset 0 0 0 1px white, 0 0 0 3px var(--color-neutral-xx-light);
    }
}
