/*
    Components: Footer
    ---
    The footer of the website
*/

.c-footer {
    @include font-height(ms(-1),$root-baseline-multiplier);

    @include mq(bp3) {
        display: flex;
        justify-content: space-between;
    }
}

    .c-footer__item {
        & + & {
            margin-left: baseline(4);
        }
    }

.c-footer-links {
    @include mq(bp1) {
        display: flex;
        flex-wrap: wrap;
    }
}

    .c-footer-links__item {
        & + & {
            margin-left: baseline(4);
        }
    }

    .c-footer-links__link {
        &,
        &:hover {
            text-decoration: none;
        }
    }
