/*
    Components: Brand
    ---
    Brand image/logo
*/

.c-logo {
    color: var(--page-heading-color);
    // color: var(--color-alpha);
    // font-family: $gamma-font-family;
    font-weight: $beta-font-weight;
    // font-weight: $alpha-font-weight;
    // font-feature-settings: "salt";
    // text-transform: uppercase;
    // letter-spacing: .1em;
    // -webkit-font-smoothing: subpixel-antialiased;
    // -moz-osx-font-smoothing: subpixel-antialiased;
    margin-bottom: $alpha-whitespace;
    // @include font-height($root-font-size,$root-baseline-multiplier);
    @include font-height(ms(-1),$root-baseline-multiplier);
}

.c-logo__link {
    text-decoration: none;
    position: relative;
    display: block;

    &,
    &:visited {
        color: inherit;
        // color: var(--color-alpha);
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
        // color: var(--page-link-color);
    }

    // &::after {
    //     content: '';
    //     display: block;
    //     position: absolute;
    //     bottom: 3px;
    //     left: 0;
    //     right: 0;
    //     height: 2px;
    //     background-color: currentColor;
    // }
}