/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    position: relative;
    width: 100%;
    padding: baseline($root-baseline-multiplier) baseline($root-baseline-multiplier) 0;

    @include mq(bp2) {
        padding: baseline($root-baseline-multiplier * 2) baseline($root-baseline-multiplier * 2) baseline($root-baseline-multiplier);
    }

    @include mq(bp4) {
        padding: baseline($root-baseline-multiplier * 3) baseline($root-baseline-multiplier * 3) baseline($root-baseline-multiplier * 2);
    }

    @include mq(bp5) {
        padding: baseline($root-baseline-multiplier * 4) baseline($root-baseline-multiplier * 4) baseline($root-baseline-multiplier * 3);
    }

    @include mq(bp6) {
        padding: baseline($root-baseline-multiplier * 5) baseline($root-baseline-multiplier * 5) baseline($root-baseline-multiplier * 4);
    }
}

.c-row--back {
    // position: sticky;
    // top: 0;
    margin-bottom: baseline(-24);
}
