/*
Elements: typography
---
Default markup for typographic elements
*/

// ---
// Variables
// ---

$h1-font-size: ms(8);
$h1-baseline-multiplier: 7;
$h1-font-size-large: ms(11);
$h1-baseline-multiplier-large: 10;
$h1-font-size-xlarge: ms(14);
$h1-baseline-multiplier-xlarge: 14;
$h2-font-size: ms(2);
$h2-baseline-multiplier: 4;
$h3-font-size: ms(-1);
$h3-baseline-multiplier: 4;
$h4-font-size: ms(-1);
$h4-baseline-multiplier: 4;

$link-transition               : all $animation-duration-alpha $animation-easing-alpha !default;

$link-decoration               : none !default;
$link-decoration--hover        : none !default;

$link-color                    : palette(color-neutral,xxxx-light) !default;
$link-color--visited           : palette(color-neutral,xxxx-light) !default;
$link-color--hover             : palette(color-neutral,x-light) !default;
$link-color--focus             : palette(color-alpha,xxxx-light) !default;

$link-outline                  : 0 !default;
$link-outline--focus           : thin dotted !default;

// ---
// Styles
// ---

h1,
h2,
h3,
h4,
p,
pre,
ul {
  margin-top: 0; // Reset browser defaults
}

h1 {
    font-weight: $beta-font-weight;
    margin-bottom: $alpha-whitespace;
    @include font-height($h1-font-size,$h1-baseline-multiplier); // Font size calculated by the font-height mixin
}

// Increase the font-size and line-height at a wider viewport
@media (min-width: 600px) {
    h1 {
        @include font-height($h1-font-size-large,$h1-baseline-multiplier-large);
    }
}

@media (min-width: 900px) {
    h1 {
        @include font-height($h1-font-size-xlarge,$h1-baseline-multiplier-xlarge);
    }
}

h2 {
    font-weight: $beta-font-weight;
    margin-bottom: $alpha-whitespace;
    @include font-height($h2-font-size,$h2-baseline-multiplier);

    * + & {
        margin-top: $beta-whitespace; // Add extra margin on top
    }
}

h3 {
    font-weight: $beta-font-weight;
    margin-bottom: $alpha-whitespace;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include font-height($h3-font-size,$h3-baseline-multiplier);
}

h4 {
    font-weight: $beta-font-weight;
    margin-bottom: $alpha-whitespace;
    @include font-height($h4-font-size,$h4-baseline-multiplier);
}

p,
ul,
ol {
    margin-bottom: $alpha-whitespace;
}

blockquote {
    margin: $alpha-whitespace;
}

pre {
    white-space: pre-wrap;
    margin-bottom: $alpha-whitespace;
    @include font-height(ms(0),4);
}

// Links

a {
    text-decoration: $link-decoration;
    color: $link-color;
    transition: $link-transition;
    position: relative;
    display: inline-block;
    // font-weight: $beta-font-weight;

    &:visited {
        color: $link-color--visited;
    }

    &:hover {
        text-decoration: $link-decoration--hover;
        color: $link-color--hover;
    }

    &:focus {
        outline: $link-outline--focus;
        color: $link-color--focus;
    }

    &:hover,
    &:active {
        outline: $link-outline;
    }
}
