/*
    Elements: Page
    ---
    Default markup for page level elements
*/

// CSS vars

:root {
    --color-alpha: #{$color-alpha};
    --color-beta: #{$color-beta};
    --color-alpha-light: #{$color-alpha-light};
    --color-beta-light: #{$color-beta-light};

    --hue-alpha: #{hue($color-alpha)};
    --saturation-alpha: #{saturation($color-alpha)};
    --lightness-alpha: #{lightness($color-alpha)};

    --hue-beta: #{hue($color-beta)};
    --saturation-beta: #{saturation($color-beta)};
    --lightness-beta: #{lightness($color-beta)};

    --color-neutral-xxxxx-light: hsla(var(--hue-alpha), 5%, 100%, 1);
    --color-neutral-xxxx-light: hsla(var(--hue-alpha), 5%, 95%, 1);
    --color-neutral-xxx-light: hsla(var(--hue-alpha), 5%, 92.5%, 1);
    --color-neutral-xx-light: hsla(var(--hue-alpha), 5%, 85%, 1);
    --color-neutral-x-light: hsla(var(--hue-alpha), 5%, 75%, 1);
    --color-neutral-light: hsla(var(--hue-alpha), 5%, 65%, 1);
    --color-neutral: hsla(var(--hue-alpha), 5%, 50%, 1);
    --color-neutral-dark: hsla(var(--hue-alpha), 5%, 35%, 1);
    --color-neutral-x-dark: hsla(var(--hue-alpha), 7.5%, 25%, 1);
    --color-neutral-xx-dark: hsla(var(--hue-alpha), 7.5%, 15%, 1);
    --color-neutral-xxx-dark: hsla(var(--hue-alpha), 10%, 10%, 1);
    --color-neutral-xxxx-dark: hsla(var(--hue-alpha), 15%, 5%, 1);

    --root-font-size: #{$root-font-size};
    --root-font-size-small: #{round($root-font-size-small)};
}

@mixin light-scheme {
    --html-background-color: var(--color-neutral-xxx-dark);
    --page-background-color: var(--color-neutral-xxxx-light);
    --page-header-background-color: var(--page-background-color);
    // --page-header-background-color: var(--color-beta);
    // --page-sticky-bar-background: hsla(var(--hue-alpha), 100%, 100%, .95);
    --page-sticky-bar-background: var(--page-background-color);
    --page-sticky-bar-shadow: 0 0 0 1px hsla(var(--hue-alpha), 15%, 5%, .1);
    --page-sticky-bar-shadow: 0 0 #{baseline(2)} hsla(var(--hue-alpha), 15%, 5%, .1);
    // --page-sticky-bar-shadow: 0 0 100px 100px white;
    --page-header-color: var(--color-neutral-xxx-dark);
    --page-heading-color: var(--page-header-color);
    --page-text-color: var(--color-neutral-dark);
    // --page-link-color: var(--page-heading-color);
    --page-link-color: var(--color-alpha);
    --page-meta-color: var(--color-neutral-dark);
    --page-selection-color: var(--color-alpha);
    --scrollbar-track-color: var(--page-background-color);
    --scrollbar-thumb-color: var(--color-alpha-light);
    --prism-text-color: var(--color-neutral-x-dark);
    --prism-background-color: var(--color-neutral-xxx-light);
    --prism-scroll-thumb-color: var(--color-neutral-xx-light);
    --prism-comment-color: var(--color-neutral);
    --prism-punctuation-color: var(--prism-text-color);
    --baseline-color: var(--color-neutral-xx-light);
    --baseline-color-transparent: hsla(var(--hue-alpha), 5%, 85%, 0);
    // --baseline-color: hsla(var(--hue-beta),100%,50%,1);
    // --baseline-color-transparent: hsla(var(--hue-beta),100%,50%,0);
    --toggle-border-color: var(--color-neutral-xx-light);
    --toggle-background-color: var(--color-neutral-xx-light);
    --toggle-border-color-checked: var(--color-alpha-light);
    --toggle-background-color-checked: var(--color-alpha-light);
    --toggle-label-color: var(--color-neutral);
}

@mixin dark-scheme {
    --color-alpha: #{$color-alpha-light};
    --color-beta: #{$color-beta-light};

    // --html-background-color: var(--color-neutral-dark);
    --page-background-color: var(--color-neutral-xx-dark);
    --page-header-background-color: var(--page-background-color);
    --page-sticky-bar-background: var(--page-background-color);
    // --page-sticky-bar-background: hsla(var(--hue-alpha), 7.5%, 15%, .9);
    --page-sticky-bar-shadow: 0 0 0 1px hsla(var(--hue-alpha), 100%, 100%, .1);
    --page-heading-color: var(--color-neutral-xxx-light);
    --page-header-color: var(--color-neutral-xxx-light);
    --page-text-color: var(--color-neutral-x-light);
    --page-meta-color: var(--color-neutral-x-light);
    --page-link-color: var(--page-heading-color);
    --page-selection-color: var(--color-alpha-light);
    --scrollbar-thumb-color: var(--page-link-color);
    --scrollbar-track-color: var(--page-background-color);
    --prism-text-color: var(--color-neutral-xxxx-light);
    --prism-background-color: var(--color-neutral-xxx-dark);
    --prism-scroll-thumb-color: var(--color-neutral-x-dark);
    --prism-comment-color: var(--color-neutral-light);
    --prism-punctuation-color: var(--prism-text-color);
    --baseline-color: var(--color-neutral-dark);
    --baseline-color-transparent: hsla(var(--hue-alpha), 5%, 35%, 0);
    --toggle-border-color: var(--color-neutral);
    --toggle-background-color: var(--color-neutral);
    --toggle-border-color-checked: var(--color-alpha-light);
    --toggle-background-color-checked: var(--color-alpha-light);
    --toggle-label-color: var(--color-neutral-light);
}

:root {
    @include light-scheme;
}

.is-inverted {
    @include dark-scheme;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-scheme;
    }

    .is-inverted {
        @include light-scheme;
    }
}

// styles

html {
    font-family: $alpha-font-family;
    font-weight: $alpha-font-weight;
    background-color: var(--html-background-color);
    color: var(--page-text-color);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    // font-feature-settings: "ss02", "liga", "zero";
    font-feature-settings: "liga", "zero";

    // a little bit of responsive typography

    // font-size: #{$root-font-size-small/16px*100%};

    // @include mq(bp3) {
        font-size: #{$root-font-size/16px*100%};
    // }


}

body {
    position: relative;
    min-height: 100vh;
    // margin: baseline(1) 0;
    background-color: var(--page-background-color);
    @include font-height($root-font-size,$root-baseline-multiplier);

    // &::after {
    //     content: '';
    //     display: block;
    //     height: baseline(1);
    //     background-color: var(--html-background-color);
    //     position: fixed;
    //     top: 0;
    //     right: 0;
    //     left: 0;
    //     z-index: 1000;
    // }
}

::selection {
    background-color: var(--page-selection-color);
    color: white;
    text-shadow: none;
}

// @include scrollbars(baseline(1), var(--scrollbar-thumb-color), var(--scrollbar-track-color));

.c-baseline-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent pxtorem($baseline * $root-baseline-multiplier - 1),
        var(--baseline-color) pxtorem($baseline * $root-baseline-multiplier)
    );

    background-size: 100% pxtorem($baseline * $root-baseline-multiplier);
    pointer-events: none;
}

.c-baseline-overlay--unit {
    background: repeating-linear-gradient(
        to bottom,
        var(--baseline-color-transparent),
        var(--baseline-color-transparent) pxtorem($baseline - 1),
        var(--baseline-color) pxtorem($baseline)
    );

    background-size: 100% pxtorem($baseline);
}
