/*
Elements: typography
---
Default markup for typographic elements
*/

// ---
// Variables
// ---

$h1-font-size: ms(6);
$h1-baseline-multiplier: 8;
$h1-font-size-large: ms(10);
$h1-baseline-multiplier-large: 12;
$h1-font-size-xlarge: ms(12);
$h1-baseline-multiplier-xlarge: 14;
$h1-font-size-xxlarge: ms(16);
$h1-baseline-multiplier-xxlarge: 22;
$h2-font-size: ms(2);
$h2-baseline-multiplier: $root-baseline-multiplier;
$h3-font-size: ms(-1);
$h3-baseline-multiplier: $root-baseline-multiplier;
$h4-font-size: ms(-1);
$h4-baseline-multiplier: $root-baseline-multiplier;

// ---
// Styles
// ---

h1,
h2,
h3,
h4,
p,
pre,
ul {
  margin-top: 0; // Reset browser defaults
}

h1 {
    font-feature-settings: "salt";
    font-weight: $alpha-font-weight;
    // font-weight: $beta-font-weight;
    // font-family: $delta-font-family;
    font-family: $gamma-font-family;
    margin-bottom: $beta-whitespace;
    font-kerning: none;
    @include font-height($h1-font-size,$h1-baseline-multiplier); // Font size calculated by the font-height mixin

    // Increase the font-size and line-height at a wider viewport

    @include mq(bp3) {
        @include font-height($h1-font-size-large,$h1-baseline-multiplier-large);
    }

    @include mq(bp5) {
        @include font-height($h1-font-size-xlarge,$h1-baseline-multiplier-xlarge);
    }

    @include mq(bp6) {
        @include font-height($h1-font-size-xxlarge,$h1-baseline-multiplier-xxlarge);
    }
}

h2 {
    font-family: $alpha-font-family;
    font-weight: $alpha-font-weight;
    // font-weight: $beta-font-weight;
    margin-bottom: $alpha-whitespace;
    @include font-height($h2-font-size,$h2-baseline-multiplier);
}

h3 {
    font-weight: $beta-font-weight;
    margin-bottom: $alpha-whitespace;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    @include font-height($h3-font-size,$h3-baseline-multiplier);
}

h4 {
    font-weight: $beta-font-weight;
    margin-bottom: $alpha-whitespace;
    @include font-height($h4-font-size,$h4-baseline-multiplier);
}

p,
ul,
ol {
    margin-bottom: $alpha-whitespace;
    // @include font-height(ms(0),$root-baseline-multiplier);

    // @include mq(bp4) {
    //     @include font-height(ms(1),5)
    // }
}

blockquote {
    margin: $alpha-whitespace;
}

pre {
    white-space: pre-wrap;
    margin-bottom: $alpha-whitespace;
    @include font-height(ms(0),4);
}

// Links

a {
    text-decoration: none;
    color: var(--page-link-color);
    transition: all $animation-duration-alpha $animation-easing-alpha;
    display: inline-block;

    &:visited {
        color: var(--page-link-color);
    }

    &:hover {
        // text-decoration: none;
        color: var(--page-text-color);
    }

    &:focus {
        outline: thin dotted;
        color: var(--page-text-color);
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
