/*
    Elements: Page
    ---
    Default markup for page level elements
*/

// CSS vars

:root {
    --hue: 240;

    --color-neutral-xxxx-light: hsla(var(--hue), 5%, 97.5%, 1);
    --color-neutral-xxx-light: hsla(var(--hue), 5%, 95%, 1);
    --color-neutral-xx-light: hsla(var(--hue), 5%, 87.5%, 1);
    --color-neutral-x-light: hsla(var(--hue), 5%, 75%, 1);
    --color-neutral-light: hsla(var(--hue), 5%, 65%, 1);
    --color-neutral: hsla(var(--hue), 5%, 50%, 1);
    --color-neutral-dark: hsla(var(--hue), 5%, 37.5%, 1);
    --color-neutral-x-dark: hsla(var(--hue), 7.5%, 25%, 1);
    --color-neutral-xx-dark: hsla(var(--hue), 10%, 15%, 1);
    --color-neutral-xxx-dark: hsla(var(--hue), 12.5%, 7.5%, 1);

    --background-color: var(--color-neutral-xxx-dark);
    --text-color: var(--color-neutral-light);
    --text-color-dark: var(--color-neutral-xxxx-light);
    --highlight-color: var(--color-neutral-xxxx-light);

    // a little bit of responsive typography

    font-size: round(ms(-1));

    @include mq(bp3) {
        font-size: round(ms(0))
    }
}

// light version

.is-light {
    --background-color: hsla(var(--hue), 75%, 97%, 1);
    --text-color: hsla(var(--hue), 15%, 35%, 1);
    --text-color-dark: hsla(var(--hue), 15%, 20%, 1);
    --highlight-color: hsla(var(--hue), 75%, 60%, 1);
}

// styles

html {
    font: $alpha-font-weight #{$root-font-size/16px*100%}/#{$root-line-height/$root-font-size} $alpha-font-family;
    -webkit-overflow-scrolling: touch;
    -webkit-font-smoothing: antialiased;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    margin: 0;

    // &:before {
    //    content: '';
    //    position: fixed;
    //    top: 0;
    //    right: 0;
    //    bottom: 0;
    //    left: 0;
    //    background: transparent url('../img/wallpaper-516.gif') 0 0 repeat;
    //    background-size: 600px 607px;
    //    opacity: .05;
    //    min-height: 100%;
    //    //z-index: 1;
    //
    //    @include mq(bp3) {
    //        background-size: auto auto;
    //    }
    //
    // }
}

::-moz-selection {
    background-color: var(--highlight-color);
    color: var(--background-color);
    text-shadow: none;
}

::selection {
    background-color: var(--highlight-color);
    color: var(--background-color);
    text-shadow: none;
}

@if $show-baseline {

    body {
        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            height: 100%;
            background: repeating-linear-gradient(
                to bottom,
                transparent,
                transparent pxtorem($baseline - 1),
                rgba(Cyan, 0.75) pxtorem($baseline)
            );
            background-size: 100% pxtorem($baseline);
            pointer-events: none;
        }
    }

    h1,
    h2,
    p {
         background-color: rgba(Cyan, 0.25);
    }
}
