//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//

// ---
// Modular scale settings
// ---

$modularscale: (
  base: 20px,
  ratio: 1.125
);

// ---
// Typography
// ---

// Baseline settings
// Think in pixels, let SCSS and the browser do the converting
$baseline: 6px;
$root-font-size: ms(0); // Modular scale size 0
$root-baseline-multiplier: 5;
$root-line-height: $baseline * $root-baseline-multiplier; // In this setup this equals a line-height of 28px

// Default whitespace settings e.g. margins and paddings
$alpha-whitespace: baseline($root-baseline-multiplier); // Default whitespace between elements e.g. paragraphs, titles
$beta-whitespace: baseline($root-baseline-multiplier * 2); // Double whitespace between elements e.g. between paragraphs and h2

$show-baseline: false;

// Basic font settings

$alpha-font-family          : "Graphik Web", sans-serif;
$beta-font-family           : "Graphik Web Compact", sans-serif;
$gamma-font-family           : "Graphik Web Condensed", sans-serif;
// $delta-font-family          : "Atlas Typewriter", sans-serif;
$delta-font-family          : "Suisse Intl Mono", sans-serif;

$alpha-font-weight          : 400;
$beta-font-weight           : 500;
$gamma-font-weight          : 600;

// ---
// UI
// ---

$radius                     : 5px;
$border-width               : 1px;
$border-style               : solid;


// ---
// Z-indexes
// ---

$z-indexes: (
    alpha                   : 1,
    beta                    : 2,
    gamma                   : 3,
    delta                   : 4,
    epsilon                 : 5
) !default;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                     : 320/16*1em,
    bp2                     : 480/16*1em,
    bp3                     : 680/16*1em,
    bp4                     : 960/16*1em,
    bp5                     : 1140/16*1em,
    bp6                     : 1440/16*1em
) !default;

// ---
// Grid
// ---

// 1 times the $root-font-size. It's calculated in rem in _tools.spacing.scss
$columns-gutter             : 1 !default;

// Define the amount of columns in the grid
$columns: (
    2,
    3,
    4,
    5,
    6
) !default;

// want to use flexbox?
$flexbox: true !default;

// ---
// Increments
// ---

$increments: (
    alpha                   : 0,
    beta                    : .5,
    gamma                   : 1,
    delta                   : 1.5,
    epsilon                 : 2
) !default;

// ---
// Animations
// ---

$animation-duration-alpha   : .1s;
$animation-duration-beta    : .2s;
$animation-duration-gamma   : .3s;
$animation-easing-alpha     : ease-in-out;
$animation-easing-beta      : cubic-bezier(.68, -.55, .265, 1.55); // bouncy

// ---
// Tools
// ---

$debug-mode                 : false !default; // toggles the debug mode
