//
//  Settings: Colors
//  ---
//  The palette function works with a base color and a tint.
//

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// MediumSpringGreen
// MediumSeaGreen
// MediumSlateBlue
// MediumAquamarine
// MediumTurquoise
// MediumBlue
// MediumVioletRed
// MediumPurple
// DodgerBlue
// CornFlowerBlue
// DeepSkyBlue
// RoyalBlue
// Aquamarine

// Base colors

$color-alpha      : CornFlowerBlue;
$color-beta       : MediumSlateBlue;
$color-gamma      : LightCoral;
