//
//  Settings: Colors
//  ---
//  The palette function works with a base color and a tint.
//

// Palette function > eg. palette(color-alpha,base)
@function palette($palette, $tone: 'base') {
    @return map-get(map-get($palettes, $palette), $tone);
}

// MediumSpringGreen
// MediumSlateBlue
// MediumAquamarine
// MediumTurquoise
// MediumBlue
// MediumVioletRed
// MediumPurple
// DarkCyan

// Base colors
$color-alpha                : MediumSlateBlue; // MediumSlateBlue #735FED
$color-beta                 : MediumSpringGreen;
$color-gamma                : MediumSpringGreen;

// Palettes
$palettes: (
    color-neutral: (
        xxxx-light          : WhiteSmoke,
        xxx-light           : Gainsboro,
        xx-light            : LightGray,
        x-light             : Silver,
        light               : DarkGray,
        base                : Gray,
        dark                : DimGrey,
        x-dark              : #333,
        xx-dark             : #1a1a1a,
        xxx-dark            : Black
    ),
    color-alpha: (
        light               : hsl(hue($color-alpha),saturation($color-alpha),50),
        base                : $color-alpha,
        dark                : hsl(hue($color-alpha),saturation($color-alpha),25),
    )
);
