//
//  Tools: Mixins
//  ---
//  Global mixins
//

//
// Media Query mixin
// @include mq(#point, #query1, #query2);
//

@mixin mq($breakpoint, $query1: min, $query2: width) {
    $query: map-get($breakpoints, $breakpoint);

    @if $query != null {
        @media (#{$query1}-#{$query2}: #{$query}) {
            @content;
        }
    } @else {
        @media (#{$query1}-#{$query2}: $breakpoint) {
            @content;
        }
    }
}

// Font height mixin
@mixin font-height($font-size,$baseline-multiplier) {
  // font-size: round($font-size); // font-size in pixels
  font-size: pxtorem($font-size); // font-size in rem
  // line-height: $baseline-multiplier * $baseline; // line-height in pixels
  line-height: baseline($baseline-multiplier); // line-height in rem
  // line-height: #{$baseline-multiplier * $baseline / round($font-size)}em; // line-height in em
  // line-height: #{$baseline-multiplier * $baseline / round($font-size)}; // unitless line-height
}
