/*
    Utilities: Shame
    ---
    Hacks and quick fixes
*/

div:empty {
   display: none;
}

.c-link-back {
    // font-family: $delta-font-family;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: $radius;
    // @include font-height(ms(-1),$root-baseline-multiplier);

    .c-icon {
        margin-right: baseline(2);

        @include mq(bp2) {
            margin-right: baseline(3);
            margin-left: baseline(-7);
        }

        @include mq(bp5) {
            margin-right: baseline(2);
            margin-left: 0;
        }
    }

    &,
    &:visited {
        color: var(--header-text-color);
    }

    &:hover {
        .c-icon {
            transform: translateX(baseline(-.5));
        }
    }
}

.c-type-meta {
    margin-bottom: baseline(2);
    // font-family: $delta-font-family;
    color: var(--header-meta-color);
    @include font-height(ms(-1),4);
}

.c-icon {
    width: baseline(4);
    fill: none;
    stroke: currentColor;
    stroke-width: 1.25;
    transition: all $animation-duration-alpha $animation-easing-alpha;
}

.c-single {
    position: relative;
    z-index: 90;
    display: grid;
    grid: " . content ." / auto minmax(min-content, 36em) auto;
    grid-gap: 0 baseline($root-baseline-multiplier);
    scroll-snap-type: y mandatory;

    @include mq(bp2) {
        grid-gap: 0 baseline($root-baseline-multiplier * 2);
    }

    @include mq(bp5) {
        grid: "left content right" / 1fr 36rem 1fr;
        grid-gap: 0 baseline($root-baseline-multiplier);
        // grid-template-rows: auto baseline($root-baseline-multiplier * 13) auto;
        // grid-gap: 0;

        &:after {
            content: '';
            display: block;
            position: fixed;
            // top: baseline(1);
            top: 0;
            right: 0;
            left: 0;
            height: baseline(13);
            background-color: var(--header-background-color);
            // background-color: white;
            // box-shadow: 0 0 0 1px rgba(white,.15);
            // opacity: 0;
            transition: opacity $animation-duration-alpha $animation-easing-alpha;

            .is-light & {
                // box-shadow: 0 0 0 1px rgba(black,.025), 0 0 25px rgba(black,.125);
                // box-shadow: 0 0 0 1px hsla(var(--hue), 5%, 10%, .05), 0 0 50px hsla(var(--hue), 5%, 10%, .1);
                // box-shadow: 0 0 0 1px hsla(var(--hue), 5%, 10%, .1);
                // box-shadow: 0 0 50px hsla(var(--hue), 5%, 10%, .1);
            }
        }

        &.has-scrolled {
            &:after {
                opacity: 1;
                // opacity: .95;
            }
        }
    }
}

.c-single__background {
    display: block !important;
    background-color: var(--header-background-color);
    grid-column: 1 / -1;
    grid-row: 1 / 4;

    @include mq(bp5) {
        grid-row: 1 / 4;
    }
}

.c-single__back {
    // display: none;
    margin-bottom: $beta-whitespace;
    position: sticky;
    top: baseline(4);
    align-self: start;
    grid-column: content;
    grid-row: 2;
    @include font-height(ms(-1),4);

    @include mq(bp5) {
        grid-column: left;
        grid-row: 1;
        margin-bottom: 0;
    }
}

.c-single__logo {
    grid-column: content;
    margin-bottom: 0;
    margin-top: baseline($root-baseline-multiplier);
    color: var(--header-text-color);
    font-family: $alpha-font-family;
    // font-weight: $beta-font-weight;
    // font-family: $delta-font-family;
    // text-transform: uppercase;
    // white-space: nowrap;
    // @include font-height(ms(-1),4);

    @include mq(bp2) {
        margin-top: baseline($root-baseline-multiplier * 2);
    }

    @include mq(bp5) {
        // margin-top: baseline($root-baseline-multiplier);
        grid-column: left;
        grid-row: 1;
        align-self: start;
        justify-self: end;
        // margin-top: 0;

    }
}

.c-single__logo--sticky {
    @include mq(bp5) {
        position: sticky;
        top: baseline(4);
    }
}

.c-single__meta {
    grid-column: content;
    color: var(--header-meta-color);
    // font-family: $delta-font-family;
    // font-feature-settings: "salt";
    font-family: $alpha-font-family;
    font-feature-settings: "ss01", "zero";
    margin-bottom: 0;
    // @include font-height(ms(-1),5);
    transition: all $animation-duration-alpha $animation-easing-alpha;

    @include mq(bp5) {
        grid-row: 1;
        margin-top: baseline($root-baseline-multiplier * 2);
        // margin-top: baseline(4);
        position: sticky;
        top: baseline(4);
    }

    .has-scrolled & {
        // display: none;
        opacity: 0;
        transform: translateY(baseline(-2));
    }
}

.c-single__content {
    grid-column: content;

    @include mq(bp5) {
        padding: baseline($root-baseline-multiplier * 2) 0 baseline($root-baseline-multiplier * 3);
    }
}

.c-single__footer {
    grid-column: content;
    z-index: 2000;

    @include mq(bp5) {
        grid-column: right;
        grid-row: 3;
        align-self: end;
        justify-self: end;
        position: fixed;
        right: 0;
        bottom: 0;
    }
}

.c-single__header {
    grid-column: content;
    color: var(--header-text-color);
    padding-top: baseline($root-baseline-multiplier * 2);
    transition: all $animation-duration-alpha $animation-easing-alpha;

    .has-scrolled & {
        opacity: 0;
    }

    @include mq(bp5){
        // grid-column-end: span 2;
        grid-row: 2;
        align-self: end;
        padding-top: baseline($root-baseline-multiplier * 4);
        // padding-top: baseline($root-baseline-multiplier * 6);
    }

    @include mq(bp5,max) {
        opacity: 1 !important;
    }
}

.c-single__top-title {
    display: none;
    position: sticky;
    top: baseline(4);
    grid-column: content;
    grid-row-start: 2;
    // align-self: end;
    align-self: start;
    // color: var(--header-text-color);
    // color: var(--content-text-color);
    color: var(--header-meta-color);
    // color: var(--highlight-color);
    font-feature-settings: "salt";
    // font-weight: $beta-font-weight;
    font-family: $alpha-font-family;
    visibility: hidden;
    transform: translateY(baseline(2));
    opacity: 0;
    margin-bottom: baseline(4);
    transition: all $animation-duration-alpha $animation-easing-alpha;
    // @include font-height(ms(-2),5);

    .has-scrolled & {
        visibility: visible;
        opacity: 1;
        transform: translateY(0);
    }

    @include mq(bp5) {
        display: block;
        // top: baseline(5);
        text-align: left;
    }
}

// Z-indexes

.c-single__content {
    z-index: 10;
}

.c-single__background {
    z-index: 60;
}

.c-single {
    &:after {
        z-index: 90;
    }
}

.c-single__top-title {
    z-index: 150;
}

.c-single__logo {
    z-index: 160;
}

.c-single__meta {
    z-index: 170;
}

.c-single__header {
    z-index: 80;
}

.c-single__back {
    z-index: 100;
}

.c-section {
    & + & {
        padding-top: baseline($root-baseline-multiplier);

        @include mq(bp3) {
            padding-top: baseline($root-baseline-multiplier * 2);
        }

        @include mq(bp4) {
            padding-top: baseline($root-baseline-multiplier * 3);
        }

        @include mq(bp5) {
            padding-top: baseline($root-baseline-multiplier * 4);
        }
    }
}

.c-type-intro {
    // font-family: $delta-font-family;
    // @include font-height(ms(-1),4.5);
    // @include mq(bp3) {
    //     @include font-height(ms(2),5);
    // }
    //
    // @include mq(bp4) {
    //     @include font-height(ms(3),5);
    // }

    // @include mq(bp5) {
    //     @include font-height(ms(5),6);
    // }
}
