/*
    Utilities: Shame
    ---
    Hacks and quick fixes
*/

div:empty {
   display: none;
}

.c-link-back {
    font-family: $delta-font-family;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    border-radius: $radius;
    @include font-height(ms(-3),$root-baseline-multiplier);

    .c-icon {
        margin-right: baseline(2);

        @include mq(bp2) {
            margin-right: baseline(3);
            margin-left: baseline(-7);
        }

        @include mq(bp5) {
            margin-right: baseline(2);
            margin-left: 0;
        }
    }

    &,
    &:visited {
        color: var(--background-color);
    }

    &:hover {
        .c-icon {
            transform: translateX(baseline(-.5));
        }
    }
}

.c-type-meta {
    font-family: $delta-font-family;
    margin-bottom: baseline(1);
    opacity: .75;
    @include font-height(ms(-3),$root-baseline-multiplier);
}

.c-icon {
    width: baseline(4);
    fill: none;
    stroke: currentColor;
    stroke-width: 1.25;
    transition: all $animation-duration-alpha $animation-easing-alpha;
}

.c-single {
    display: grid;
    grid: " . content ." / auto minmax(min-content, 36em) auto;
    grid-gap: 0 baseline($root-baseline-multiplier);
    grid-template-rows: baseline(2.5) auto auto;

    &:after {
        content: '';
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: baseline(10);
        background-color: var(--highlight-color);
    }

    @include mq(bp2) {
        grid-gap: 0 baseline($root-baseline-multiplier * 2);
    }

    @include mq(bp3) {
        grid-template-rows: baseline($root-baseline-multiplier * 2) auto auto;
    }

    @include mq(bp5) {
        grid: " . left content right ." / 1fr 2fr 36em 2fr 1fr;
        grid-template-rows: minmax(baseline($root-baseline-multiplier * 5), calc(100vh - #{baseline($root-baseline-multiplier * 20)})) auto auto auto;
        grid-gap: 0 baseline($root-baseline-multiplier);

        &:after {
            height: baseline($root-baseline-multiplier * 2.75);
        }
    }
}

.c-single__background {
    display: block !important;
    background-color: var(--highlight-color);
    grid-column: 1 / -1;
    grid-row: 1 / 4;

    @include mq(bp5) {
        grid-row: 1 / 4;
    }
}

// Z-indexes

.c-single__content {
    z-index: 10;
}

.c-single__background {
    z-index: 60;
}

.c-single {
    &:after {
        z-index: 90;

        @include mq(bp5) {
            z-index: 40;
        }
    }
}

.c-single__top-title {
    z-index: 150;
}

.c-single__header {
    z-index: 80;
}

.c-single__back {
    z-index: 100;
}

.c-single__back {
    margin-bottom: $beta-whitespace;
    position: sticky;
    top: baseline($root-baseline-multiplier/2);
    align-self: start;
    grid-column: content;
    grid-row: 2;

    @include mq(bp5) {
        grid-column: left;
        grid-row: 2;
        top: baseline(4);
    }
}

.c-single__content {
    grid-column: content;
    padding-top: baseline($root-baseline-multiplier * 2);

    @include mq(bp5) {
        padding-top: baseline($root-baseline-multiplier * 5);
    }
}

.c-single__header {
    grid-column: content;
    color: var(--background-color);
    grid-row: 3;
    // transform: translateY(baseline(3));
    opacity: 0;
    transition: all $animation-duration-gamma $animation-easing-alpha;

    &.is-shown {
        opacity: 1;
        transform: translateY(0);
    }

    @include mq(bp5){
        grid-column-end: span 2;
        grid-row: 2;
        padding-bottom: baseline($root-baseline-multiplier * 3);
    }
}

.c-single__top-title {
    display: none;
    position: sticky;
    top: baseline(2.5);
    grid-column: content;
    grid-row-start: 2;
    align-self: end;
    color: var(--background-color);
    font-feature-settings: "salt";
    font-weight: $beta-font-weight;
    font-family: $beta-font-family;
    // margin-bottom: 0;
    // transform: translateY(baseline(3));
    opacity: 0;
    transition: all $animation-duration-alpha $animation-easing-alpha;

    &.is-shown {
        opacity: 1;
        transform: translateY(0);
    }

    @include mq(bp5) {
        display: block;
        top: baseline(4);
        text-align: left;
    }
}

.c-section {
    & + & {
        padding-top: baseline($root-baseline-multiplier);

        @include mq(bp3) {
            padding-top: baseline($root-baseline-multiplier * 2);
        }

        @include mq(bp4) {
            padding-top: baseline($root-baseline-multiplier * 3);
        }

        @include mq(bp5) {
            padding-top: baseline($root-baseline-multiplier * 4);
        }
    }
}

.c-type-intro {
    // font-family: $delta-font-family;
    // @include font-height(ms(-1),4.5);
    // @include mq(bp3) {
    //     @include font-height(ms(2),5);
    // }
    //
    // @include mq(bp4) {
    //     @include font-height(ms(3),5);
    // }

    // @include mq(bp5) {
    //     @include font-height(ms(5),6);
    // }
}
