/* PrismJS 1.15.0
https://prismjs.com/download.html#themes=prism&languages=markup+css+clike+javascript+scss */
/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

// Tools
@import 'modularscale';
@import 'tools.mixins';
@import 'tools.functions';

// Colors



// Settings
@import 'settings.global';

code[class*="language-"],
pre[class*="language-"] {
	color: var(--color-neutral-xxx-light);
	background: none;
	font-family: $code-font-family;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	@include font-height(ms(-1),$root-baseline-multiplier);

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;

	* + & {
		margin-top: baseline(6);
	}

	.is-light & {
		color: var(--color-neutral-x-dark);
	}
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: var(--page-selection-color);
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: var(--page-selection-color);
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: baseline($root-baseline-multiplier);
	overflow: auto;
	margin-left: baseline($root-baseline-multiplier * -1);
	margin-right: baseline($root-baseline-multiplier * -1);
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	// border-radius: $radius;
	background: var(--color-neutral-x-dark);

	.is-light & {
		// background: var(--color-neutral-xxxx-light);
		// background-color: #fff;
		background-color: hsla(0,0,0,.025);
	}
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: var(--color-neutral-light);
}

.token.punctuation {
	color: var(--color-neutral-xxx-light);

	.is-light & {
		color: var(--color-neutral-x-dark);
	}
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	// color: hsla(var(--hue), 90%, 70%, 1);
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: hsl(355, 95%, 70%);
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	// color: var(--highlight-color);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: hsl(286, 77%, 71%);
}

.token.function,
.token.class-name {
	color: hsl(var(--hue), 100%, 43%);
}

.token.regex,
.token.important,
.token.variable {
	color: hsl(355, 95%, 70%);
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}
