{{ define "main" }}
<!-- <header class="o-row o-row--top" id="top">
    <div class="c-header">
        <p class="c-header__logo c-logo">
            <a href="/" class="c-logo__link">Simon Coudeville</a>
        </p>
        <h1 class="c-header__meta c-text-base u-muted">
            {{ .Title }}
        </h1>
    </div>
</header> -->
<header class="o-row o-row--top" id="top">
    <div class="c-header">
        <p class="c-header__logo c-logo">
            <a href="/" class="c-logo__link">Simon Coudeville</a>
        </p>
        <!-- <p class="c-header__logo">               
                S&#x0306;
            </p>        -->
        <p class="c-header__meta u-muted">
            {{ .Title }}
        </p>
        <div class="c-header__links">
            <nav class="c-nav">
                <ul class="o-list c-nav__list">
                    <li class="c-nav__item">
                        <a href="/" class="c-nav__link">
                            Index
                        </a>
                    </li>
                    <li class="c-nav__item">
                        <a href="/blog" class="c-nav__link">
                            Blog
                        </a>
                    </li>
                    <li class="c-nav__item">
                        <a href="/about" class="c-nav__link">
                            About
                        </a>
                    </li>
                </ul>
            </nav>

        </div>
    </div>
</header>
{{ .Content }}
<main class="o-row">
    <!-- <div class="o-aside">
        <h3 class="u-mb-clear">2021</h3>
    </div> -->
    <div class="o-container">
        <ul class="c-list">
            {{ range .Pages }}
                <li class="c-list__item">
                    <!-- <span class="c-list__meta u-muted">{{ .Date.Format "02 January 2006" }}</span> -->
                    <span class="c-list__meta u-muted">{{ .Date.Format "02.01.2006" }}</span>
                    <h3 class="c-list__title"><a class="c-list__link" href="{{.Permalink}}">{{.Title}}</a></h3>
                </li>
            {{ end }}            
        </ul>
    </div>   
</main>
{{ partial "footer.html" . }}
{{ end }}