{{ define "main" }}
<header class="o-row o-row--header" id="header">
    <div class="c-header">
        <!-- <p class="c-header__logo c-logo">
            <a href="/" class="c-logo__link">Simon Coudeville</a>
        </p> -->
        <p class="c-header__back">
            <a href="/" class="c-back-link">←</a>
        </p>
        <h1 class="c-header__meta c-text-base">
            {{ .Title }}
        </h1>
    </div>    
</header>
<main class="o-row">
    {{ .Content }}
</main>
{{ partial "footer.html" . }}
{{ end }}
