{{ define "main" }}
<header class="o-row o-row--top" id="top">
    <div class="c-header">
        <!-- <p class="c-header__back">
            <a href="/" class="c-back-link">←</a>
        </p> -->
        <h1 class="c-header__logo c-logo">
            <a href="/" class="c-logo__link">Simon Coudeville</a>
        </h1>
        <p class="c-header__meta u-muted">
            {{ .Title }}
        </p>
    </div>
</header>
<article class="o-row">
    {{ .Content }}
</article>
{{ partial "footer.html" . }}
{{ end }}