//
// Example: Baseline grid
// ---
// This file will be inlined
//

// Tools
@import '../modularscale';
@import '../tools.mixins';
@import '../tools.functions';

// Settings
@import '../settings.colors';
@import '../settings.global';

.e-columns {
    column-width: calc((var(--global-container-maxWidth) / 2) - #{var(--global-whitespace-default)});
    column-gap: var(--global-whitespace-default);
    margin-bottom: calc(var(--global-whitespace-default) * -1);
}

.e-baseline-title {
    // font-family: $beta-font-family;
    // font-weight: $alpha-font-weight;
    // font-weight: 300;
    @include font-height(ms(6),calc(var(--global-baseline-multiplier) * 2));

    // @include mq(bp2) {
    //     @include font-height(ms(10),calc(var(--global-baseline-multiplier) * 2));
    // }
}
