/*
    Components: Footer
    ---
    The footer of the website
*/

.c-footer {
    grid-column: content;
    display: grid;
    grid-template-columns: auto 1fr;
    // font-size: var(--global-fontSize-s);

    @include mq(bp3) {
        grid-column-gap: var(--global-whitespace-base);
        grid-template-columns: auto 1fr auto;
    }

    @include mq(bp4) {
        grid-column: 1 / -1;
        grid: var(--grid);
        grid-gap: inherit;
    }
}

.c-footer__copy {
    // font-family: $beta-font-family;
    grid-row: 2;    

    @include mq(bp3) {
        grid-row: 1;
    }

    @include mq(bp4) {
        grid-row: 1;
        grid-column: left;
    }
}

.c-footer__links {
    grid-column: 1;
    grid-row: 1;

    @include mq(bp3) {
        grid-column: 2;
    }

    @include mq(bp4) {
        grid-row: 1;
        grid-column: content;        
    }
}

.c-footer__top {
    text-align: right;
    grid-row: 2;

    @include mq(bp3) {
        grid-row: 1;
        grid-column: 3;
    }

    @include mq(bp4) {
        grid-row: 1;
        grid-column: content;
    }

    @include mq(bp5) {
        grid-column: right;
    }
}

.c-footer__top-link {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    width: var(--global-whitespace-base);
}
