/*
    Components: Intro
    ---
    Intro section of a post
*/

.c-intro {
    margin-bottom: var(--global-whitespace-base);
    // display: grid;
    // height: 100%;    
}

.c-intro__title,
.c-intro__paragraph {
    display: inline;
}

.c-intro__paragraph {
    font-weight: $beta-font-weight;
}