/*
    Components: About
    ---
    About section
*/

.c-about {
    @include mq(bp2) {
        display: grid;
        grid-gap: var(--global-whitespace-base);
        grid-template-columns: auto 1fr;
        align-items: center;
    }
    // display: flex;
    // align-items: center;
    // flex-wrap: wrap;
    //
    // p {
    //     width: 100%;
    //     flex-basis: 325px;
    // }

    // @include mq(bp3) {
    //     grid-gap: var(--global-whitespace-double);
    // }

    .c-avatar {

        @include mq(bp2,max) {
            // float: right;
            // margin-top: calc(var(--global-whitespace-base) * -.5);
            // margin-bottom: 0;
            // --c-avatar-dimension: calc(var(--global-whitespace-base) * 4);
            // margin-left: var(--global-whitespace-base);
            // margin-right: calc(var(--global-whitespace-base) * -2.5);
            display: none;
            // float: none;
            // margin-bottom: var(--global-whitespace-base);
        }

        // @include mq(bp4) {
        //     margin-bottom: calc(var(--global-whitespace-base) * -2);
        // }
    }
}

.c-about__more-content {
    display: none;
    scroll-margin-top: var(--global-whitespace-double);
}

.c-about__show-more-content,
.c-about__show-less-content {
    color: var(--global-meta-color);
    font-weight: $beta-font-weight;
    // text-decoration: none;
}

.c-about__show-less-content {
    display: none;
}