/*
    Components: Cover
    ---
    Cover section of a post
*/

.c-cover {
    // max-height: 50vh;
    // margin-left: auto;
    // margin-right: auto;
    background-color: var(--global-backgroundColor);
}

.c-cover__img {
    display: block;
    // max-height: calc(50vh - calc(var(--global-whitespace-base) * 2));
    max-height: 50vh;
    margin: 0 auto;
    mix-blend-mode: multiply;
}

@media (prefers-color-scheme: dark) {
    .c-cover__img {
        filter: invert(100%);
        mix-blend-mode: screen;
    }
}