/*
    Components: Brand
    ---
    Brand image/logo
*/

.c-logo {
    color: var(--page-intro-color);
    font-weight: $beta-font-weight;
    @include font-height($root-font-size,var(--baseline-multiplier));

    @include mq(bp3) {
        @include font-height(ms(-1),var(--baseline-multiplier));
    }
}

.c-logo__link {
    text-decoration: none;
    position: relative;
    display: block;

    &,
    &:visited {
        color: inherit;
    }

    &:hover,
    &:focus,
    &:active {
        text-decoration: underline;
    }
}