// Component: toggle checkbox

.c-toggle {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    align-items: center;
    margin-bottom: var(--whitespace-default);
    color: var(--toggle-label-color);
    @include font-height(ms(1),var(--baseline-multiplier));

    @include mq(bp3) {
        @include font-height(ms(0), var(--baseline-multiplier));
    }
}

.c-toggle__checkbox {
    margin: 0 0 0 1rem;
    appearance: none;
    border-radius: 20px;
    width: 38px;
    height: 16px;
    transition: all $animation-duration-alpha $animation-easing-out;
    outline: none;
    border: 2px solid var(--toggle-border-color);
    background-color: var(--toggle-background-color);

    &:after {
        content: "";
        display: block;
        background-color: white;
        border: 1px solid white;
        box-shadow: var(--toggle-switch-shadow);
        border-radius: 100%;
        width: 22px;
        height: 22px;
        transform: translate(-2px,-5px);
        transition: transform $animation-duration-beta $animation-easing-out;
    }

    &:checked {
        border-color: var(--toggle-border-color-checked);
        background-color: var(--toggle-background-color-checked);

        &:after {
            transform: translate(15px,-5px);
        }
    }

    &:focus,
    &:active {
        &:after {
            border-color: var(--toggle-switch-border-color-active);
            box-shadow: var(--toggle-switch-shadow-active);
        }
    }
}
