/*
    Components: About
    ---
    About section
*/

.c-about {
    @include mq(bp2) {
        display: grid;
        grid-gap: var(--whitespace-default);
        grid-template-columns: auto 1fr;
        align-items: center;
    }
}