/*
    Components: Footer
    ---
    The footer of the website
*/

.c-footer {
    color: var(--page-meta-color);
    padding: var(--whitespace-default) 0 0;
    @include font-height(ms(-1),var(--baseline-multiplier));

    @include mq(bp3) {
        padding: var(--whitespace-double) 0 0;
    }
}

.c-footer__body {
    grid-column: content;
}
