// Component: toggle checkbox

.c-toggle {
    display: flex;
    flex-direction: row-reverse;
    width: auto;
    align-items: center;
    margin-bottom: var(--whitespace-default);
    color: var(--toggle-color, var(--global-meta-color));
    @include font-height(ms(1),var(--global-baseline-multiplier));

    @include mq(bp3) {
        @include font-height(ms(0), var(--global-baseline-multiplier));
    }
}

.c-toggle__checkbox {
    margin: 0 0 0 1rem;
    appearance: none;
    border-radius: 20px;
    width: 38px;
    height: 16px;
    transition: all $animation-duration-alpha $animation-easing-out;
    outline: none;
    border: 2px solid var(--toggle__checkbox-borderColor, var(--global-color-neutral-xx-light));
    background-color: var(--toggle__checkbox-backgroundColor, var(--global-color-neutral-xx-light));

    &:after {
        content: "";
        display: block;
        background-color: var(--toggle__switch-backgroundColor, White);
        border: 1px solid var(--toggle__switch-borderColor, White);
        box-shadow: var(--toggle__switch-shadow, 0 1px 3px rgba(0, 0, 0, 0.2));
        border-radius: 100%;
        width: 22px;
        height: 22px;
        transform: translate(-2px,-5px);
        transition: transform $animation-duration-beta $animation-easing-out;
    }

    &:checked {
        border-color: var(--toggle__checkbox-checked-borderColor, var(--global-color-alpha));
        background-color: var(--toggle__checkbox-checked-backgroundColor, var(--global-color-alpha));

        &:after {
            transform: translate(15px,-5px);
        }
    }

    &:focus,
    &:active {
        &:after {
            border-color: var(--toggle__switch-focus-borderColor, hsl(var(--global-hue-color-alpha),var(--global-saturation-color-alpha),var(--global-lightness-color-alpha)));
            box-shadow: var(--toggle__switch-focus-shadow, 0 1px 3px rgba(0, 0, 0, 0.2), 0 0 0 3px hsla(var(--global-hue-color-alpha),var(--global-saturation-color-alpha),var(--global-lightness-color-alpha),.25));
        }
    }
}

@media (prefers-color-scheme: dark) {
    .c-toggle {
        --toggle__checkbox-backgroundColor: transparent;
        --toggle__checkbox-borderColor: var(--global-color-neutral);
        --toggle__checkbox-checked-backgroundColor: var(--toggle__checkbox-backgroundColor);

        --toggle__switch-focus-borderColor: white;
        --toggle__switch-focus-shadow: 0 0 0 4px hsla(var(--global-hue-color-alpha),var(--global-saturation-color-alpha),var(--global-lightness-color-alpha),.75);
    }
}
