/*
    Components: Intro
    ---
    Intro section of a post
*/

.c-intro {
    margin-bottom: var(--global-whitespace-base);

    a {
        text-indent: 0;
    }

    @include mq(bp4) {
        text-indent: calc(100vw - var(--global-content-maxWidth) - var(--grid-whitespace) * 2);
    }
    
    // @include mq(bp5) {
    //     text-indent: calc(var(--global-container-maxWidth) / 2 - var(--global-content-maxWidth) / 2 - var(--grid-whitespace));
    // }

    @include mq(bp5) {
        text-indent: calc(min(calc(100vw - var(--grid-whitespace) * 2), var(--global-container-maxWidth)) / 2 - var(--global-content-maxWidth) / 2 - var(--grid-whitespace));
        // text-indent: calc(min(100vw, var(--global-container-maxWidth)) / 2 - var(--global-content-maxWidth) / 2 - var(--grid-whitespace));
    }
}

.c-intro__title,
.c-intro__paragraph {
    // display: inline;
    // max-width: 21em;
    // text-align: justify;
    // font-family: $alpha-font-family;
    // font-family: $beta-font-family;
}

// .c-intro__title {
//     transition-property: opacity, transform;
//     transition-duration: $animation-duration-beta;
//     transition-timing-function: $animation-easing-out;
//     transition-delay: $animation-duration-alpha;

//     .has-scrolled & {
//         transition-timing-function: $animation-easing-in;
//         transition-delay: 0s;
//         transition-property: opacity, transform;
//         opacity: 0;
//         transform: translateY(calc(var(--global-whitespace-base) * -1));
//     }
// }