/*
    Components: Avatar
    ---
    Avatar picture
*/

.c-avatar {
    --c-avatar-dimension: var(--global-whitespace-quadruple);
    display: inline-block;
    width: var(--c-avatar-dimension);
    height: var(--c-avatar-dimension);
    border-radius: 100%;
    overflow: hidden;
    background-color: rgba(black,.075);
    // background-color: var(--c-avatar-backgroundColor, var(--global-color-neutral-200));

    img {
        opacity: var(--avatar__img-opacity, .75);
        mix-blend-mode: multiply;
    }
}