/*
    Components: Baseline
    ---
    Baseline grid overlay
*/

.c-baseline-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
    pointer-events: none;
}

.c-baseline-overlay--unit {
    background: repeating-linear-gradient(
        to bottom,
        transparent,
        transparent calc(var(--baseline) - 1px),
        var(--baseline-color) calc(var(--baseline) - 1px),
        var(--baseline-color) var(--baseline)
    );

    background-size: 100% var(--baseline);
}