/*
    Components: Example
    ---
    Example container for blogposts
*/


// .c-example {
//     padding: var(--global-whitespace-double) 0 var(--global-whitespace-base);
// }

.c-example__title {
    position: relative;
    margin-top: calc(var(--global-whitespace-base) * -1);
}

.c-example__body {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: var(--global-whitespace-base);

    .has-baseline & {

        .c-baseline-overlay {
            display: block;
        }

        h2,
        h3,
        h4,
        p {
            background-color: var(--global-baseline-background);
        }
    }
}

.c-example__body--xl {
    padding: var(--global-whitespace-base) 0 0;

    @include mq(bp3) {
        padding: var(--global-whitespace-double) 0 var(--global-whitespace-base);
    }
}

.c-example__content {
    position: relative;
    z-index: 110;
}

.c-example__toggle {
    position: relative;
    display: flex;
    justify-content: flex-end;
    // margin-top: var(--global-whitespace-double);
    margin-bottom: calc(var(--global-whitespace-base) * -1);
}