/*
    Components: Brand
    ---
    Brand image/logo
*/

.c-logo {
  color: var(--logo-color, var(--global-heading-color));
  font-size: 1rem;
  font-weight: $alpha-font-weight;
  line-height: var(--global-whitespace-base);
  letter-spacing: 0;
}

.c-logo__link {
  // font-weight: $beta-font-weight;
  // text-decoration: none;  
}

.c-logo__mark {
  --c-logo__mark-size: var(--global-whitespace-base);
  fill: var(--global-heading-color);
  stroke: var(--global-heading-color);
  height: var(--c-logo__mark-size);
}
