/*
    Components: Cover
    ---
    Cover section of a post
*/

.c-cover {
    grid-column: start / end;
}

.c-cover__img {
    display: block;
    width: 100%;
    // max-width: var(--global-content-maxWidth);
    height: auto;
    margin: 0 auto;
}