/*
    Elements: Page
    ---
    Default markup for page level elements
*/

// CSS vars

@mixin light-scheme {
    --global-page-backgroundColor: var(--global-color-neutral-dark-a-025);
    --global-page-color: var(--global-color-neutral-dark-a-85);
    --global-heading-color: var(--global-color-neutral-dark-a-95);
    --global-link-color: var(--global-heading-color);
    --global-meta-color: var(--global-color-neutral-dark-a-50);
    --global-selection-color: var(--global-color-beta);

    --global-baseline-color: hsla(var(--global-hue-color-gamma), var(--global-saturation-color-gamma), var(--global-lightness-color-gamma), .50);
    --global-baseline-background: hsla(var(--global-hue-color-gamma), var(--global-saturation-color-gamma), var(--global-lightness-color-gamma), .25);
}

@mixin dark-scheme {
    --global-page-backgroundColor: var(--global-color-neutral-dark-a-95);
    --global-page-color: var(--global-color-neutral-light-a-85);
    --global-heading-color: var(--global-color-neutral-light-a-95);
    --global-meta-color: var(--global-color-neutral-light-a-50);
}

:root {
    --global-color-alpha: #{$color-alpha};
    --global-hue-color-alpha: #{hue($color-alpha)};
    --global-saturation-color-alpha: #{saturation($color-alpha)};
    --global-lightness-color-alpha: #{lightness($color-alpha)};

    --global-color-beta: #{$color-beta};
    --global-hue-color-beta: #{hue($color-beta)};
    --global-saturation-color-beta: #{saturation($color-beta)};
    --global-lightness-color-beta: #{lightness($color-beta)};

    --global-color-gamma: #{$color-gamma};
    --global-hue-color-gamma: #{hue($color-gamma)};
    --global-saturation-color-gamma: #{saturation($color-gamma)};
    --global-lightness-color-gamma: #{lightness($color-gamma)};

    --global-neutral-hue: var(--global-hue-color-beta);

    --global-color-neutral-light-a-025: hsla(var(--global-neutral-hue), 25%, 95%, .025);
    --global-color-neutral-light-a-075: hsla(var(--global-neutral-hue), 25%, 95%, .075);
    --global-color-neutral-light-a-05: hsla(var(--global-neutral-hue), 25%, 95%, .05);
    --global-color-neutral-light-a-10: hsla(var(--global-neutral-hue), 25%, 95%, .1);
    --global-color-neutral-light-a-15: hsla(var(--global-neutral-hue), 25%, 95%, .15);
    --global-color-neutral-light-a-25: hsla(var(--global-neutral-hue), 25%, 95%, .25);
    --global-color-neutral-light-a-50: hsla(var(--global-neutral-hue), 25%, 95%, .5);
    --global-color-neutral-light-a-75: hsla(var(--global-neutral-hue), 25%, 95%, .75);
    --global-color-neutral-light-a-85: hsla(var(--global-neutral-hue), 25%, 95%, .85);
    --global-color-neutral-light-a-95: hsla(var(--global-neutral-hue), 25%, 95%, .95);

    --global-color-neutral-dark-a-025: hsla(var(--global-neutral-hue), 25%, 5%, .025);
    --global-color-neutral-dark-a-075: hsla(var(--global-neutral-hue), 25%, 5%, .075);
    --global-color-neutral-dark-a-05: hsla(var(--global-neutral-hue), 25%, 5%, .05);
    --global-color-neutral-dark-a-10: hsla(var(--global-neutral-hue), 25%, 5%, .1);
    --global-color-neutral-dark-a-15: hsla(var(--global-neutral-hue), 25%, 5%, .15);
    --global-color-neutral-dark-a-25: hsla(var(--global-neutral-hue), 25%, 5%, .25);
    --global-color-neutral-dark-a-50: hsla(var(--global-neutral-hue), 25%, 5%, .5);
    --global-color-neutral-dark-a-75: hsla(var(--global-neutral-hue), 25%, 5%, .75);
    --global-color-neutral-dark-a-85: hsla(var(--global-neutral-hue), 25%, 5%, .85);
    --global-color-neutral-dark-a-95: hsla(var(--global-neutral-hue), 25%, 5%, .95);

    --global-baseline: #{6px / round($root-font-size-sm)}rem;
    --global-baseline-multiplier: 4;

    --global-whitespace-default: calc(var(--global-baseline) * var(--global-baseline-multiplier));
    --global-whitespace-double: calc(var(--global-whitespace-default) * 2);

    @include mq(bp3) {
        --global-baseline: #{8px / $root-font-size}rem;
    }

    @include light-scheme;

}

.is-inverted {
    @include dark-scheme;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-scheme;
    }

    .is-inverted {
        @include light-scheme;
    }
}

// styles

html {
    font-family: $alpha-font-family;
    font-weight: $alpha-font-weight;
    background-color: var(--global-page-backgroundColor);
    color: var(--global-page-color);
    // letter-spacing: -.0125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "zero", "liga";
    font-size: #{$root-font-size-sm/16px*100%};
    background-image: url("../svg/stripes-1.svg");
    background-size: 1280px 250px;
    background-position: 50% calc(50vh - calc(250px - var(--global-whitespace-default)));
    background-repeat: no-repeat;

    @include mq(bp3) {
        font-size: #{$root-font-size/16px*100%};
        background-size: 2560px 500px;
        // background-position: 50% calc(50vh - calc(500px - var(--global-whitespace-default)));
        // background-position: 50% calc(50vh - 500px);
        background-position: 50% calc(50vh - 468px);
    }
}

body {
    position: relative;
    min-height: 100vh;
    // background-color: var(--page-background-color);
    line-height: baseline(var(--global-baseline-multiplier));
}

::selection {
    background-color: var(--global-selection-color);
    color: white;
    text-shadow: none;
}