/*
Elements: typography
---
Default markup for typographic elements
*/

// ---
// Variables
// ---

$h1-font-size: ms(7);
$h1-baseline-multiplier: 8;
$h2-font-size: ms(2);
$h2-baseline-multiplier: var(--global-baseline-multiplier);
$h3-font-size: $root-font-size;
$h3-baseline-multiplier: var(--global-baseline-multiplier);
$h4-font-size: $root-font-size;
$h4-baseline-multiplier: var(--global-baseline-multiplier);

// ---
// Styles
// ---

h1,
h2,
h3,
h4 {
    color: var(--global-heading-color);
}


h1,
h2,
h3,
h4,
p,
pre,
ul {
  margin-top: 0; // Reset browser defaults
}

h1 {
    // font-weight: $beta-font-weight;
    // font-weight: 300;
    font-weight: $alpha-font-weight;
    // font-family: $alpha;
    margin-bottom: var(--global-whitespace-default);
    // font-feature-settings: "ss01", "liga";
    // @include font-height(ms(8),calc(var(--global-baseline-multiplier) * 2));
    @include font-height(ms(4),calc(var(--global-baseline-multiplier) + 2));

    // @include mq(bp2) {
    //     @include font-height(ms(10),calc(var(--global-baseline-multiplier) * 2));
    // }
}

h2 {
    // font-weight: $beta-font-weight;
    font-weight: $alpha-font-weight;
    margin-bottom: var(--global-whitespace-default);
    @include font-height(ms(2),var(--global-baseline-multiplier));
}

h3 {
    // font-weight: $beta-font-weight;
    font-weight: $alpha-font-weight;
    margin-bottom: var(--global-whitespace-default);
    // margin-bottom: calc(var(--global-whitespace-default) * .5);
    // color: var(--global-meta-color);
    @include font-height(ms(1),var(--global-baseline-multiplier));
}

h4 {
    font-weight: $alpha-font-weight;
    margin-bottom: var(--global-whitespace-default);
    @include font-height($h4-font-size,$h4-baseline-multiplier);
}

p,
ul,
ol {
    margin-bottom: var(--global-whitespace-default);
}

figure {
    margin: 0 0 var(--global-whitespace-default);
}

blockquote {
    margin: var(--global-whitespace-default);
}

pre {
    white-space: pre-wrap;
    margin-bottom: var(--global-whitespace-default);
    @include font-height(ms(0),4);
}

// Links

a {
    color: var(--global-link-color);
    transition: all $animation-duration-alpha $animation-easing-out;
    display: inline-block;

    &:visited {
        color: var(--global-link-color);
    }

    &:hover {
        color: var(--global-link-hover-color);
    }

    &:focus {
        outline: thin dotted;
        color: var(--global-link-hover-color);
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
