/*
Elements: typography
---
Default markup for typographic elements
*/

// ---
// Variables
// ---

$h1-font-size: ms(7);
$h1-baseline-multiplier: 8;
$h2-font-size: ms(2);
$h2-baseline-multiplier: var(--global-baseline-multiplier);
$h3-font-size: $root-font-size;
$h3-baseline-multiplier: var(--global-baseline-multiplier);
$h4-font-size: $root-font-size;
$h4-baseline-multiplier: var(--global-baseline-multiplier);

// ---
// Styles
// ---

h1,
h2,
h3,
h4 {
    color: var(--global-heading-color);
}


h1,
h2,
h3,
h4,
p,
pre,
ul {
  margin-top: 0; // Reset browser defaults
}

h1,
.h1 {
    // font-feature-settings: "zero", "liga", "ss01";
    font-weight: $beta-font-weight;
    // font-weight: $alpha-font-weight;
    margin-bottom: var(--global-whitespace-base);
    font-size: var(--global-fontSize-xxxl);
    line-height: calc(calc(var(--global-baseline-multiplier) + 3) * var(--global-baseline));
}

h2,
.h2 {
    font-weight: $beta-font-weight;
    // font-weight: $alpha-font-weight;
    margin-bottom: var(--global-whitespace-base);
    font-size: var(--global-fontSize-lg);
    line-height: calc(calc(var(--global-baseline-multiplier) + 1) * var(--global-baseline));
}

h3,
.h3 {
    font-weight: $beta-font-weight;
    margin-bottom: var(--global-whitespace-base);
    font-size: var(--global-fontSize);
    line-height: calc(var(--global-baseline-multiplier) * var(--global-baseline));
}

h4,
.h4 {
    font-weight: $beta-font-weight;
    margin-bottom: var(--global-whitespace-base);
    font-size: var(--global-fontSize);
    line-height: calc(var(--global-baseline-multiplier) * var(--global-baseline));
}

p,
ul,
ol,
dl,
figure {
    margin: 0 0 var(--global-whitespace-base);
}


dd {
    margin-left: 0;
}

blockquote {
    margin: var(--global-whitespace-base);
}

pre {
    white-space: pre-wrap;
    margin-bottom: var(--global-whitespace-base);
    font-family: $code-font-family;
    font-size: var(--global-fontSize-sm);
    line-height: calc(var(--global-baseline) * var(--global-baseline-multiplier));
}

small {
    display: inline-block;
    font-size: var(--global-fontSize-xs);
    line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline) );
}

strong {
    font-weight: $beta-font-weight;
}

// Links

a {
    font-weight: $beta-font-weight;
    color: var(--global-link-color);
    transition: all $animation-duration-alpha $animation-easing-out;
    display: inline-block;

    &:visited {
        color: var(--global-link-color);
    }

    &:hover {
        color: var(--global-link-hover-color);
    }

    &:focus {
        outline: thin dotted;
        color: var(--global-link-hover-color);
    }

    &:hover,
    &:active {
        outline: 0;
    }
}

hr {
    display: block;
    border: none;
    height: 1px;
    margin: var(--global-whitespace-double) 0;
    background-color: var(--global-border-color);
}
