/*
Elements: Fonts
---
Font-face declarations
*/

@font-face {
  font-family: 'Suisse Intl Web';
  src: url('../fonts/SuisseIntl-Book-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Book-WebXL.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Calvino Grande Web';
  src: url('../fonts/Calvino-Grande-Thin.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Calvino Web';
  src: url('../fonts/Calvino-Light.woff2') format('woff2');
  font-weight: 200;
  font-style: normal;
  font-stretch: normal;
}
