/*
Elements: typography
---
Default markup for typographic elements
*/

// ---
// Variables
// ---

$h1-font-size: ms(8);
$h1-baseline-multiplier: 8;
$h1-font-size-large: ms(9);
$h1-baseline-multiplier-large: 11;
$h2-font-size: ms(2);
$h2-baseline-multiplier: var(--baseline-multiplier);
$h3-font-size: ms(0);
$h3-baseline-multiplier: var(--baseline-multiplier);
$h4-font-size: ms(0);
$h4-baseline-multiplier: var(--baseline-multiplier);

// ---
// Styles
// ---

h1,
h2,
h3,
h4 {
    color: var(--page-heading-color);
}


h1,
h2,
h3,
h4,
p,
pre,
ul {
  margin-top: 0; // Reset browser defaults
}

h1 {
    font-weight: $beta-font-weight;
    font-feature-settings: "ss01", "liga";
    letter-spacing: -0.01em;
    margin-bottom: var(--whitespace-default);
    @include font-height($h1-font-size,$h1-baseline-multiplier); // Font size calculated by the font-height mixin

    // Increase the font-size and line-height at a wider viewport

    @include mq(bp3) {
        @include font-height($h1-font-size-large,$h1-baseline-multiplier-large);
    }
}

h2 {
    font-weight: $beta-font-weight;
    font-feature-settings: "ss01", "liga";
    margin-bottom: var(--whitespace-default);
    @include font-height($h2-font-size,$h2-baseline-multiplier);
}

h3 {
    font-weight: $beta-font-weight;
    margin-bottom: var(--whitespace-default);
    @include font-height($h3-font-size, $h3-baseline-multiplier);
}

h4 {
    font-weight: $beta-font-weight;
    margin-bottom: var(--whitespace-default);
    @include font-height($h4-font-size,$h4-baseline-multiplier);
}

p,
ul,
ol {
    margin-bottom: var(--whitespace-default);
}

figure {
    margin: 0 0 var(--whitespace-default);
}

blockquote {
    margin: var(--whitespace-default);
}

pre {
    white-space: pre-wrap;
    margin-bottom: var(--whitespace-default);
    @include font-height(ms(0),4);
}

// Links

a {
    color: var(--page-link-color);
    transition: all $animation-duration-alpha $animation-easing-out;
    display: inline-block;

    &:visited {
        color: var(--page-link-color);
    }

    &:hover {
        color: var(--page-text-color);
    }

    &:focus {
        outline: thin dotted;
        color: var(--page-text-color);
    }

    &:hover,
    &:active {
        outline: 0;
    }
}
