/*
    Elements: Page
    ---
    Default markup for page level elements
*/

// CSS vars

@mixin light-scheme {
    --global-page-backgroundColor: white;
    --global-page-color: var(--global-color-neutral-x-dark);
    --global-heading-color: var(--global-color-neutral-xxx-dark);
    --global-link-color: var(--global-heading-color);
    --global-meta-color: var(--global-color-neutral);
    --global-selection-color: var(--global-color-beta);

    --global-baseline-color: hsla(var(--global-hue-color-gamma), var(--global-saturation-color-gamma), var(--global-lightness-color-gamma), .50);
    --global-baseline-background: hsla(var(--global-hue-color-gamma), var(--global-saturation-color-gamma), var(--global-lightness-color-gamma), .25);
}

@mixin dark-scheme {
    --global-page-backgroundColor: var(--global-color-neutral-xxxx-dark);
    --global-page-color: var(--global-color-neutral-x-light);
    --global-heading-color: var(--global-color-neutral-xxx-light);
}

:root {
    --global-color-alpha: #{$color-alpha};
    --global-hue-color-alpha: #{hue($color-alpha)};
    --global-saturation-color-alpha: #{saturation($color-alpha)};
    --global-lightness-color-alpha: #{lightness($color-alpha)};

    --global-color-beta: #{$color-beta};
    --global-hue-color-beta: #{hue($color-beta)};
    --global-saturation-color-beta: #{saturation($color-beta)};
    --global-lightness-color-beta: #{lightness($color-beta)};

    --global-color-gamma: #{$color-gamma};
    --global-hue-color-gamma: #{hue($color-gamma)};
    --global-saturation-color-gamma: #{saturation($color-gamma)};
    --global-lightness-color-gamma: #{lightness($color-gamma)};

    --global-neutral-hue: var(--global-hue-color-beta);

    --global-color-neutral-xxxxx-light: hsla(var(--global-neutral-hue), 5%, 97%, 1);
    --global-color-neutral-xxxx-light: hsla(var(--global-neutral-hue), 5%, 95%, 1);
    --global-color-neutral-xxx-light: hsla(var(--global-neutral-hue), 5%, 92.5%, 1);
    --global-color-neutral-xx-light: hsla(var(--global-neutral-hue), 5%, 85%, 1);
    --global-color-neutral-x-light: hsla(var(--global-neutral-hue), 5%, 75%, 1);
    --global-color-neutral-light: hsla(var(--global-neutral-hue), 5%, 62.5%, 1);
    --global-color-neutral: hsla(var(--global-neutral-hue), 5%, 50%, 1);
    --global-color-neutral-dark: hsla(var(--global-neutral-hue), 5%, 40%, 1);
    --global-color-neutral-x-dark: hsla(var(--global-neutral-hue), 7.5%, 30%, 1);
    --global-color-neutral-xx-dark: hsla(var(--global-neutral-hue), 7.5%, 20%, 1);
    --global-color-neutral-xxx-dark: hsla(var(--global-neutral-hue), 10%, 10%, 1);
    --global-color-neutral-xxxx-dark: hsla(var(--global-neutral-hue), 15%, 5%, 1);

    --global-baseline: #{6px / round($root-font-size-sm)}rem;
    --global-baseline-multiplier: 4;

    --global-whitespace-default: calc(var(--global-baseline) * var(--global-baseline-multiplier));
    --global-whitespace-double: calc(var(--global-whitespace-default) * 2);

    @include mq(bp3) {
        --global-baseline: #{8px / $root-font-size}rem;
    }

    @include light-scheme;

}

.is-inverted {
    @include dark-scheme;
}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-scheme;
    }

    .is-inverted {
        @include light-scheme;
    }
}

// styles

html {
    font-family: $alpha-font-family;
    font-weight: $alpha-font-weight;
    background-color: var(--global-page-backgroundColor);
    color: var(--global-page-color);
    // letter-spacing: -.0125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: "zero", "liga";
    font-size: #{$root-font-size-sm/16px*100%};
    // border-top: var(--global-baseline) solid var(--global-color-beta);

    @include mq(bp3) {
        font-size: #{$root-font-size/16px*100%};
    }

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: var(--global-baseline);
        top: 0;
        right: 0;
        width: 100vw;
        height: 100vh;

        // background-image: url("../img/gradient-mesh.png");
        // background-image: url("../img/asset-6.png");
        // background-image: url("../img/asset-9.png");
        // opacity: .125;
        // background-image: url("https://assets.website-files.com/5bfd1275cc56e15ce750b18e/5c289afb9a15753de6893a93_60.%20Zircon.jpg");

        background-size: contain;
        background-repeat: no-repeat;
    }
}

body {
    position: relative;
    min-height: 100vh;
    // background-color: var(--page-background-color);
    line-height: baseline(var(--global-baseline-multiplier));
}

::selection {
    background-color: var(--global-selection-color);
    color: white;
    text-shadow: none;
}