/*
    Elements: Page
    ---
    Default markup for page level elements
*/

// CSS vars

@mixin light-scheme {
    /* Light theme */
    --global-page-backgroundColor: var(--global-color-neutral-10);
    --global-page-backgroundColor--alt: var(--global-color-neutral-20);
    --global-page-color: var(--global-color-neutral-90);
    --global-heading-color: var(--global-color-neutral-90);
    --global-link-color: var(--global-heading-color);
    --global-link-hover-color: var(--global-page-color);
    --global-meta-color: var(--global-color-neutral-50);
    --global-border-color: var(--global-color-neutral-30);
    --global-selection-backgroundColor: var(--global-heading-color);
    --global-selection-color: var(--global-page-backgroundColor);
    --global-baseline-color: hsla(var(--global-hue-color-gamma), var(--global-saturation-color-gamma), var(--global-lightness-color-gamma), .50);
    --global-baseline-background: hsla(var(--global-hue-color-gamma), var(--global-saturation-color-gamma), var(--global-lightness-color-gamma), .25);
}

@mixin dark-scheme {
    /* Dark theme */
    --global-page-backgroundColor: var(--global-color-neutral-90);
    --global-page-backgroundColor--alt: var(--global-color-neutral-80);
    --global-page-color: var(--global-color-neutral-10);
    --global-heading-color: var(--global-color-neutral-10);
    --global-border-color: var(--global-color-neutral-70);

    --global-color-neutral-50: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 51.75%);
}

:root {
    /* colors */
    --global-color-alpha: #{$color-alpha};
    --global-hue-color-alpha: #{hue($color-alpha)};
    --global-saturation-color-alpha: #{saturation($color-alpha)};
    --global-lightness-color-alpha: #{lightness($color-alpha)};

    --global-color-beta: #{$color-beta};
    --global-hue-color-beta: #{hue($color-beta)};
    --global-saturation-color-beta: #{saturation($color-beta)};
    --global-lightness-color-beta: #{lightness($color-beta)};

    --global-color-gamma: #{$color-gamma};
    --global-hue-color-gamma: #{hue($color-gamma)};
    --global-saturation-color-gamma: #{saturation($color-gamma)};
    --global-lightness-color-gamma: #{lightness($color-gamma)};

    --global-neutral-hue: var(--global-hue-color-beta);
    --global-neutral-saturation: 3%;

    --global-color-neutral-10: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 97%);
    --global-color-neutral-20: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 95%);
    --global-color-neutral-30: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 90%);
    --global-color-neutral-40: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 75%);
    --global-color-neutral-50: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 45.75%);
    --global-color-neutral-60: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 35%);
    --global-color-neutral-70: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 25%);
    --global-color-neutral-80: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 15%);
    --global-color-neutral-90: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 10%);

    /* type scale */
    --global-modular-scale-ratio: 1.125;
    --global-root-fontSize: #{$root-font-size-sm/16px*100%};

    --global-fontSize: 1rem;
    --global-fontSize-xxs: calc((var(--global-fontSize-xs) / var(--global-modular-scale-ratio)) / var(--global-modular-scale-ratio));
    --global-fontSize-xs: calc((var(--global-fontSize) / var(--global-modular-scale-ratio)) / var(--global-modular-scale-ratio));
    --global-fontSize-sm: calc(var(--global-fontSize-xs) * var(--global-modular-scale-ratio));
    --global-fontSize-md: calc(var(--global-fontSize) * var(--global-modular-scale-ratio));
    --global-fontSize-lg: calc(var(--global-fontSize-md) * var(--global-modular-scale-ratio));
    --global-fontSize-xl: calc(var(--global-fontSize-lg) * var(--global-modular-scale-ratio));
    --global-fontSize-xxl: calc(var(--global-fontSize-xl) * var(--global-modular-scale-ratio));
    --global-fontSize-xxxl: calc(var(--global-fontSize-xxl) * var(--global-modular-scale-ratio));

    /* baseline */
    --global-baseline: #{5px / $root-font-size-sm}rem;
    --global-baseline-multiplier: 5;

    --global-whitespace-xxs: var(--global-baseline);
    --global-whitespace-xs: calc(var(--global-baseline) * calc(var(--global-baseline-multiplier) - 3));
    --global-whitespace-sm: calc(var(--global-baseline) * calc(var(--global-baseline-multiplier) - 2));
    --global-whitespace-md: calc(var(--global-baseline) * calc(var(--global-baseline-multiplier) - 1));
    --global-whitespace-lg: calc(var(--global-baseline) * var(--global-baseline-multiplier));

    --global-whitespace-default: var(--global-whitespace-lg);
    --global-whitespace-double: calc(var(--global-whitespace-default) * 2);
    --global-whitespace-triple: calc(var(--global-whitespace-double) + var(--global-whitespace-default));
    --global-whitespace-quadruple: calc(var(--global-whitespace-double) * 2);

    /* layout */
    --global-container-maxWidth: 35em;

    @include mq(bp3) {
        --global-root-fontSize: #{$root-font-size/16px*100%};
        --global-baseline: #{6px / $root-font-size}rem;
    }

    @include light-scheme;

}

@media (prefers-color-scheme: dark) {
    :root {
        @include dark-scheme;
    }
}

// styles

html {
    background-color: var(--global-page-backgroundColor);
    color: var(--global-page-color);
    font-family: $alpha-font-family;
    font-size: var(--global-root-fontSize);
    font-feature-settings: "zero", "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-size: var(--global-fontSize);
    line-height: baseline(var(--global-baseline-multiplier));
}

::selection {
    background-color: var(--global-selection-backgroundColor);
    color: var(--global-selection-color);
    text-shadow: none;
}