/*
Elements: Fonts
---
Font-face declarations
*/

@font-face {
    font-family: 'Suisse Intl Web Mono';
    src: url('../fonts/SuisseIntlMono-Regular-WebS.woff2') format('woff2'),
    url('../fonts/SuisseIntlMono-Regular-WebS.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Suisse Intl Web';
    src: url('../fonts/SuisseIntl-Regular-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Regular-WebXL.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Suisse Intl Web';
    src: url('../fonts/SuisseIntl-Book-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntl-Book-WebXL.woff') format('woff');
    font-weight:  500;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Suisse Intl Web';
    src: url('../fonts/SuisseIntl-SemiBold-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntl-SemiBold-WebXL.woff') format('woff');
    font-weight:  600;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Suisse Works Web';
    src: url('../fonts/SuisseWorks-Regular-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseWorks-Regular-WebXL.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Everett Trial Web';
    src: url('../fonts/EverettTrial-Regular-web.woff2') format('woff2'),
    url('../fonts/EverettTrial-Regular-web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Everett Trial Web';
    src: url('../fonts/EverettTrial-Medium-web.woff2') format('woff2'),
    url('../fonts/EverettTrial-Medium-web.woff') format('woff');
    font-weight:  500;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Everett Mono Trial Web';
    src: url('../fonts/EverettMonoTrial-Regular-web.woff2') format('woff2'),
    url('../fonts/EverettMonoTrial-Regular-web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik web';
    src: url('../fonts/Graphik-Regular-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Regular-Web.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Graphik web';
    src: url('../fonts/Graphik-Medium-Web.woff2') format('woff2'),
    url('../fonts/Graphik-Medium-Web.woff') format('woff');
    font-weight:  500;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Allrounder Grotesk web';
    src: url('../fonts/AllrounderGrotesk-Book.woff2') format('woff2'),
    url('../fonts/AllrounderGrotesk-Book.woff') format('woff');
    font-weight:  300;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Allrounder Grotesk web';
    src: url('../fonts/AllrounderGrotesk-Regular.woff2') format('woff2'),
    url('../fonts/AllrounderGrotesk-Regular.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Allrounder Grotesk web';
    src: url('../fonts/AllrounderGrotesk-Medium.woff2') format('woff2'),
    url('../fonts/AllrounderGrotesk-Medium.woff') format('woff');
    font-weight:  500;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Antarctica web';
    src: url('../fonts/AntarcticaBeta-Light.woff2') format('woff2');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Antarctica web';
    src: url('../fonts/AntarcticaBeta-Medium.woff2') format('woff2');
    font-weight:  500;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Antarctica web';
    src: url('../fonts/AntarcticaBeta-SemiBold.woff2') format('woff2');
    font-weight:  600;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Atlantique Miami web';
    src: url('../fonts/AtlantiqueMiami-Regular.woff2') format('woff2');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

@font-face {
    font-family: 'Satoshi web';
    src: url('../fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../fonts/Satoshi-Variable.woff') format('woff');
    font-weight:  300 900;
    font-style:   normal;
    font-stretch: normal;
}