/*
    Object: Layout
    ---
    Global layout styles
*/


.o-grid {
    --grid-whitespace: 0;
    min-height: 100vh;
    display: grid;
    grid: ". content ." / minmax(var(--grid-whitespace),1fr) minmax(0, var(--global-container-maxWidth)) minmax(var(--grid-whitespace),1fr);
    grid-gap: var(--global-whitespace-base);
    align-content: start;

    @include mq(bp3) {
        --grid-whitespace: var(--global-whitespace-base);
    }
}

.o-row {
    grid-column: 1 / -1;
    display: grid;
    grid: inherit;
    grid-gap: inherit;

    .o-row .o-row {
        grid-row-gap: 0
    }
}

.o-row--lg {
    padding: var(--global-whitespace-base) 0;
}

.o-row--alternate {
    border: 1px solid var(--global-border-color);
    border-width: 1px 0;
    // background-color: var(--global-page-backgroundColor--alt);
    margin-bottom: var(--global-whitespace-base);
    padding: var(--global-whitespace-double) 0 var(--global-whitespace-base) 0;
}

.o-row--header {
    padding-top: var(--global-whitespace-base);
    z-index: 1000;
    transition: all $animation-duration-alpha;

    @include mq(bp3) {
        position: sticky;
        top: 0;
        right: 0;
        left: 0;
        background-color: var(--global-page-backgroundColor);
        // background-color: hsla(var(--global-neutral-hue), var(--global-neutral-saturation), 97%, 1);
    }

    &.is-sticky {
        box-shadow: 0 0 15px hsla(var(--global-neutral-hue), var(--global-neutral-saturation), 10%, .1);
        // box-shadow: 0 0 0 1px hsla(var(--global-neutral-hue), var(--global-neutral-saturation), 10%, .1)
        box-shadow: 0 0 0 1px var(--global-border-color);
    }
}

.o-row--intro {
    min-height: calc(50vh - calc(var(--global-whitespace-base) * 5));
    padding-top: var(--global-whitespace-double);
    align-items: end;
    grid-template-rows: auto;
}

.o-row--intro-home {
    min-height: calc(50vh - calc(var(--global-whitespace-base) * 1));
    padding-top: var(--global-whitespace-double);
    align-items: end;
    grid-template-rows: auto;
}

.o-row--divide {
    border-top: 1px solid var(--global-border-color);
    padding-top: var(--global-whitespace-double);
}

// .o-row--footer {
//     border-top: 1px solid var(--global-border-color);
//     padding-top: var(--global-whitespace-base);
// }

.o-container {
    grid-column: content;
}