//
//  Settings: Colors
//

// MediumSpringGreen
// MediumSeaGreen
// MediumSlateBlue
// MediumAquamarine
// MediumTurquoise
// MediumBlue
// MediumVioletRed
// MediumPurple
// DodgerBlue
// CornFlowerBlue
// DeepSkyBlue
// RoyalBlue
// CornFlowerBlue
// MediumSlateBlue
// LightCoral
// Aquamarine
// MediumAquamarine

// Base colors

$color-alpha      : CornFlowerBlue;
$color-alpha      : DodgerBlue;
$color-alpha      : MediumSpringGreen;
$color-alpha      : #21acb8;
$color-alpha      : #19d5e6;
$color-alpha      : #21acb8;
$color-alpha      : #19e6d5;
$color-alpha      : Turquoise;
// $color-alpha      : #00ffcc;
// $color-alpha      : #66CC99;
// $color-alpha      : #33FFCC;
// $color-alpha      : #7DFCD6;
// $color-alpha      : MediumSeaGreen;
// $color-alpha      : #4d79ff;
$color-beta       : MediumSlateBlue;
// $color-beta       : #7272F8;
// $color-beta       : #453cf6;
// $color-beta       : #7070ff;
$color-gamma      : Salmon;
// $color-gamma      : #ea4b60;
