//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//

// ---
// Modular scale settings
// ---

$modularscale: (
  base: 17px 19px,
  ratio: 1.4
);

// ---
// Typography
// ---

$root-font-size: round(ms(1)); // Modular scale size 0 = 19px
$root-font-size-sm: round(ms(0)); // Modular scale size -1 for mobile

// Basic font settings

// $alpha-font-family          : "Graphik Web", sans-serif;
// $beta-font-family          : "Graphik Web", sans-serif;
// $alpha-font-family          : "Untitled Sans Test", sans-serif;
// $alpha-font-family          : "Suisse Intl", sans-serif;
// $alpha-font-family          : "Inter", sans-serif;
// $alpha-font-family          : "Fakt Web", sans-serif;
// $alpha-font-family          : "Basis Grotesque Trial", sans-serif;
// $alpha-font-family          : "Beausite Classic Trial", sans-serif;
// $alpha-font-family          : "neue-haas-unica", sans-serif;
// $alpha-font-family          : "nimbus-sans", sans-serif;
// $beta-font-family           : "nimbus-sans-extended", sans-serif;
// $alpha-font-family          : "neue-haas-grotesk-text", sans-serif;
// $beta-font-family           : "neue-haas-grotesk-display", sans-serif;
// $alpha-font-family          : "aktiv-grotesk", sans-serif;
// $beta-font-family           : "aktiv-grotesk-extended", sans-serif;
// $alpha-font-family          : "Messina Sans Trial", sans-serif;
// $beta-font-family           : "Messina Sans Trial", sans-serif;
// $alpha-font-family          : "FT Base Web", sans-serif;
// $beta-font-family           : "FT Base Web", sans-serif;
$alpha-font-family          : "Suisse Intl Web", sans-serif;
// $beta-font-family           : "Neue Machina", sans-serif;
// $alpha-font-family          : "UniversalSans-400", sans-serif;
// $beta-font-family           : "UniversalSans-400", sans-serif;
// $alpha-font-family          : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
// $beta-font-family           : -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
// $alpha-font-family          : "Graphik Web", sans-serif;
// $beta-font-family           : "Graphik Web", sans-serif;
// $alpha-font-family          : "acumin-pro", sans-serif;
// $beta-font-family           : "acumin-pro-wide", sans-serif;
// $alpha-font-family          : "Adapter PE Text TRIAL", sans-serif;
// $alpha-font-family          : "Modern ERA TRIAL", sans-serif;
// $code-font-family           : "roboto-mono", monospace;
$code-font-family           : "Suisse Intl Web Mono", monospace;
// $code-font-family           : "Basis Grotesque Mono Trial", monospace;
// $code-font-family           : "Modern ERA Mono TRIAL", monospace;

$alpha-font-weight          : 400;
$beta-font-weight           : 500;
$gamma-font-weight          : 600;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                     : 320/16*1em,
    bp2                     : 480/16*1em,
    bp3                     : 680/16*1em,
    bp4                     : 960/16*1em,
    bp5                     : 1140/16*1em,
    bp6                     : 1440/16*1em
) !default;

// ---
// Animations
// ---

$animation-duration-alpha   : .1s;
$animation-duration-beta    : .15s;
$animation-duration-gamma   : .2s;
$animation-easing-out       : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$animation-easing-in        : cubic-bezier(0.470, 0.000, 0.745, 0.715);

// ---
// Tools
// ---

$debug-mode                 : false !default; // toggles the debug mode
