//
//  Settings: Colors
//

// MediumSpringGreen
// MediumSeaGreen
// MediumSlateBlue
// MediumAquamarine
// MediumTurquoise
// MediumBlue
// MediumVioletRed
// MediumPurple
// DodgerBlue
// CornFlowerBlue
// DeepSkyBlue
// RoyalBlue
// CornFlowerBlue
// MediumSlateBlue
// LightCoral
// Aquamarine
// MediumAquamarine

// Base colors

$color-alpha      : CornFlowerBlue;
$color-beta       : MediumSlateBlue;
$color-gamma      : LightCoral;
// $color-gamma      : SALMON;
