//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//

// ---
// Typography
// ---

$modularscale: (
  base: 19px 50px,
  ratio: 1.25
);

$root-font-size-sm: 17px; // for mobile
$root-font-size: 19px; // for larger screens

// Basic font settings

$alpha-font-family          : "Suisse Intl Web", sans-serif;
$code-font-family           : "Suisse Intl Web Mono", monospace;

$alpha-font-weight          : 400;
$beta-font-weight           : 500;

// layout

$content-max-width: 36rem;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                     : 320/16*1em,
    bp2                     : 424/16*1em,
    bp3                     : 680/16*1em,
    bp4                     : 960/16*1em,
    bp5                     : 1280/16*1em,
    bp6                     : 1440/16*1em
) !default;

// ---
// Animations
// ---

$animation-duration-alpha   : .1s;
$animation-duration-beta    : .15s;
$animation-duration-gamma   : .2s;
$animation-easing-out       : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$animation-easing-in        : cubic-bezier(0.470, 0.000, 0.745, 0.715);
