//
//  Settings: Chopstick settings
//  ---
//  Your default settings
//

// ---
// Modular scale settings
// ---

$modularscale: (
  base: 19px,
  ratio: 1.125
);

// ---
// Typography
// ---

$root-font-size: round(ms(0)); // Modular scale size 0 = 19px
$root-font-size-sm: 16px; // Modular scale size -1 for mobile

// Basic font settings

$alpha-font-family          : "Graphik Web", sans-serif;
$beta-font-family           : "Graphik Web Compact", sans-serif;
$gamma-font-family          : "Graphik Web Condensed", sans-serif;
$code-font-family           : "Roboto Mono", monospace;

$alpha-font-weight          : 400;
$beta-font-weight           : 500;
$gamma-font-weight          : 600;

// ---
// Breakpoints
// ---

$breakpoints: (
    bp1                     : 320/16*1em,
    bp2                     : 480/16*1em,
    bp3                     : 680/16*1em,
    bp4                     : 960/16*1em,
    bp5                     : 1140/16*1em,
    bp6                     : 1440/16*1em
) !default;

// ---
// Animations
// ---

$animation-duration-alpha   : .1s;
$animation-duration-beta    : .15s;
$animation-duration-gamma   : .2s;
$animation-easing-out       : cubic-bezier(0.390, 0.575, 0.565, 1.000);
$animation-easing-in        : cubic-bezier(0.470, 0.000, 0.745, 0.715);

// ---
// Tools
// ---

$debug-mode                 : false !default; // toggles the debug mode
