//
//  Tools: Themes
//  ---
//  Separated theme colors
//

@mixin theme-light {
    // --global-backgroundColor: var(--global-color-neutral-200);
    --global-backgroundColor: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 94%);
    --global-surfaceColor: white;
    --global-heading-color: var(--global-color-neutral-900);
    --global-text-color: var(--global-color-neutral-900);    
    --global-meta-color: var(--global-color-neutral-500);
    --global-border-color: var(--global-color-neutral-300);
    --global-border-color-hard: var(--global-color-neutral-400);
    --global-link-color: var(--global-heading-color);    
    --global-link-decoration-color: var(--global-meta-color);   
    --global-link-hover-color: var(--global-link-color);
    --global-selection-backgroundColor: var(--global-text-color);
    --global-selection-color: var(--global-backgroundColor);
    --global-scrollbar-thumb-color: var(--global-color-beta);
    --global-scrollbar-track-color: var(--global-backgroundColor);
}

@mixin theme-dark {
    --global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 53.5%);
    --global-backgroundColor: var(--global-color-neutral-900);
    --global-surfaceColor: var(--global-color-neutral-800);
    --global-text-color: var(--global-color-neutral-100);
    --global-heading-color: var(--global-color-neutral-100);
    --global-link-decoration-color: var(--global-link-color);   
    --global-border-color: var(--global-color-neutral-700);
    --global-border-color-hard: var(--global-color-neutral-600);
}