
@mixin ms-xxxl {
    font-size: var(--global-fontSize-xxxl);
    line-height: calc(calc(var(--global-baseline-multiplier) + 5) * var(--global-baseline));
}

@mixin ms-xxl {
    font-size: var(--global-fontSize-xxl);
    line-height: calc(calc(var(--global-baseline-multiplier) + 4) * var(--global-baseline));
}

@mixin ms-xl {
    font-size: var(--global-fontSize-xl);
    line-height: calc(calc(var(--global-baseline-multiplier) + 2) * var(--global-baseline));
}

@mixin ms-l {
    font-size: var(--global-fontSize-l);
    line-height: calc(calc(var(--global-baseline-multiplier) + 1) * var(--global-baseline));
}

@mixin ms-m {
    font-size: var(--global-fontSize-m);
    line-height: calc(var(--global-baseline-multiplier) * var(--global-baseline));
}

@mixin ms-base {
    font-size: var(--global-fontSize-base);
    line-height: calc(var(--global-baseline-multiplier) * var(--global-baseline));
}

@mixin ms-s {
    font-size: var(--global-fontSize-s);
    line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline));
}

@mixin ms-xs {
    font-size: var(--global-fontSize-xs);
    line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline));
}