/*
    Utilities: Colors
    ---
    Color utility classes.
*/

.u-muted {
    color: var(--global-meta-color);
}

.u-color-primary {
    color: var(--global-color-primary);
}

.u-bgcolor-alpha {
    background-color: var(--global-color-alpha);
}

.u-color-beta {
    color: var(--global-color-beta);
}

.u-bgcolor-beta {
    background-color: var(--global-color-beta);
}

.u-color-gamma {
    color: var(--global-color-gamma);
}

.u-bgcolor-gamma {
    background-color: var(--global-color-gamma);
}