/*
    Utilities: Shame
    ---
    Hacks and quick fixes
*/

div:empty {
   display: none;
}

.c-post {
    --content-max-width: calc(var(--baseline) * var(--baseline-multiplier) * 22);
    --whitespace: var(--whitespace-default);
    display: grid;
    grid: ". content ." / minmax(var(--whitespace),1fr) minmax(0, var(--content-max-width)) minmax(var(--whitespace),1fr);

    @include mq(bp3) {
        --whitespace: var(--whitespace-double);
    }
}

.c-post__row {
    grid-column: 1 / -1;
    display: grid;
    grid: inherit;
    grid-gap: inherit;

    & + & {
        @include mq(bp3) {
            margin-top: var(--whitespace-default);
        }
    }
}

.c-post__row--lg {
    .c-post__row + &,
    & + & {
        margin-top: var(--whitespace-default);

        @include mq(bp3) {
            margin-top: calc(var(--whitespace-double));
        }

        // @include mq(bp4) {
        //     margin-top: calc(var(--whitespace-double) + var(--whitespace-default));
        // }
    }
}

.c-post__row--intro {
    min-height: calc(50vh - #{baseline(calc(var(--baseline-multiplier) * 4))});
    align-items: flex-end;
    background-color: var(--cover-background-color);
    margin-bottom: var(--whitespace-default);

    @include mq(bp3) {
        min-height: calc(50vh - #{baseline(calc(var(--baseline-multiplier) * 3))});
        padding-bottom: var(--whitespace-default);
    }
}

.c-post__row--header {
    padding-top: var(--whitespace-default);
    background-color: var(--cover-background-color);
}

main.c-post__row {
    margin-top: 0 !important;
}

.c-post__row--content {

    & > * {
        grid-column: content;
    }

}

.c-post__container {
    grid-column: content;
}

.c-post__title {
    color: var(--page-intro-color);
    // color: #fff;
}