/*
    Utilities: Shame
    ---
    Hacks and quick fixes
*/

// div:empty {
//    display: none;
// }

.c-post {
    --content-max-width: 36em;
    --whitespace: var(--whitespace-default);
    display: grid;
    grid: ". content ." / minmax(var(--whitespace),1fr) minmax(0, var(--content-max-width)) minmax(var(--whitespace),1fr);

    @include mq(bp3) {
        --whitespace: var(--whitespace-double);
    }
}

.c-post__row {
    grid-column: 1 / -1;
    display: grid;
    grid: inherit;
    grid-gap: inherit;

    & + & {
        margin-top: var(--whitespace-default);
    }
}

.c-post__row--lg {
    .c-post__row + &,
    & + & {
        margin-top: var(--whitespace-default);

        @include mq(bp3) {
            margin-top: calc(var(--whitespace-double));
        }

        // @include mq(bp4) {
        //     margin-top: calc(var(--whitespace-double) + var(--whitespace-default));
        // }
    }
}

.c-post__row--intro {
    min-height: calc(50vh - #{baseline(calc(var(--global-baseline-multiplier) * 3))});
    align-items: flex-end;
    // background-color: var(--intro-background-color);

    // @include mq(bp3) {
    //     padding-bottom: var(--whitespace-default);
    // }
}

.c-post__row--header {
    padding-top: var(--whitespace-default);
    // background-color: var(--intro-background-color);
    position: relative;
    will-change: box-shadow;
    transition: box-shadow $animation-duration-alpha;
    z-index: 20;
}

@include mq(bp3) {
    .c-post__header-observer {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 1px;
        opacity: 0;
        display: block;
    }

    .c-post__row--header {
        position: sticky;
        top: 0;

        &.is-sticky {
            // box-shadow: 0 0 0 1px rgba(black,.05), 0 0 20px rgba(black,.1);
            // box-shadow: 0 0 20px rgba(black,.1);
            // box-shadow: 0 0 var(--global-baseline) rgba(black,.1);
            // box-shadow: 0 0 0 1px rgba(black, 0.05), 0 0 var(--global-baseline) rgba(black,.1);
            // box-shadow: 0 0 0 1px rgba(black,.1), 0 0 50px rgba(black,.1);
            box-shadow: 0 0 0 1px rgba(black,.1);
            // box-shadow: 0 0 2px 2px rgba(black,.1);
            // box-shadow: 0 0 0 1px rgba(black, 0.05), 0 0 var(--global-baseline) rgba(black,.075);
            // box-shadow: 0 0 var(--global-baseline) rgba(black,.1);
            // box-shadow: 0 1px 1px rgba(0,0,0,0.02),
            //               0 2px 2px rgba(0,0,0,0.02),
            //               0 4px 4px rgba(0,0,0,0.02),
            //               0 8px 8px rgba(0,0,0,0.02),
            //               0 16px 16px rgba(0,0,0,0.02);
            // box-shadow: 0 1px 1px rgba(0,0,0,0.02),
                          // 0 2px 2px rgba(0,0,0,0.02),
                          // 0 4px 4px rgba(0,0,0,0.02),
                          // 0 8px 8px rgba(0,0,0,0.02),
                          // 0 16px 16px rgba(0,0,0,0.02),
                          // 0 32px 32px rgba(0,0,0,0.02);
            background-color: var(--intro-background-color);
        }
    }
}

.c-post__row--main {
    position: relative;
    z-index: 10;
}

.c-post__row--content {

    & > * {
        grid-column: content;
    }

}

.c-post__container {
    grid-column: content;
}

.c-post__title {
    color: var(--intro-color);
}

.u-pt-clear {
    padding-top: 0 !important;
}

.u-mt-clear {
    margin-top: 0 !important;
}