/*
    Utilities: Shame
    ---
    Hacks and quick fixes
*/

// div:empty {
//    display: none;
// }

.c-gradient-background {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: -1;
}

.c-gradient-background__image {
    --deg: 45deg;
    --max: 100vmin;
    --dimension: calc(var(--max) - var(--global-whitespace-double) * 2);
    display: block !important;
    width: var(--dimension);
    height: var(--dimension);
    border-radius: 100%;
    // background: linear-gradient(var(--deg), var(--gradient-background__image-start, var(--global-color-neutral-20)), var(--gradient-background__image-end, white));
    background: linear-gradient(var(--deg), var(--gradient-background__image-start, var(--global-page-backgroundColor--alt)), var(--gradient-background__image-end, white));
    animation: rotate 10s linear infinite;
    transition: transform 2s;

    @include mq(35em) {
        --max: 35em;
    }
}

@media (prefers-color-scheme: dark) {
    .c-gradient-background__image {
        --gradient-background__image-end: hsla(0,0%,0%,50%);
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

.c-modularscale-list {
    @include mq(bp3) {
        display: grid;
        grid-template-columns: auto 1fr;
        grid-gap: var(--global-whitespace-sm) var(--global-whitespace-default);
        align-items: baseline;
    }
}

.c-modularscale-list__term {
    & + .c-modularscale-list__description {
        margin-bottom: var(--global-whitespace-sm);
    }

    @include mq(bp3) {
        text-align: right;
        & + .c-modularscale-list__description {
            margin-bottom: 0;
        }
    }
}

.c-modularscale-list__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-palette {
    display: grid;
    grid-template-columns: var(--global-whitespace-double) 1fr ;
    grid-gap: var(--global-whitespace-md) var(--global-whitespace-sm);
    align-items: center;
    margin-bottom: calc(var(--global-whitespace-default) + var(--global-whitespace-xxs));
}

.c-swatches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--c-swatch-min, var(--global-whitespace-double)), 1fr));
    // margin-bottom: var(--global-whitespace-default);
    margin-bottom: calc(var(--global-whitespace-default) + var(--global-whitespace-xxs));
}

.c-swatch--neutral-10,
.c-swatch--page-backgroundColor {
    box-shadow: inset 0 0 0 1px var(--global-border-color);
}

@media (prefers-color-scheme: dark) {
    .c-swatch--neutral-10 {
        box-shadow: none;
    }

    .c-swatch--neutral-90,
    .c-swatch--page-backgroundColor {
        box-shadow: inset 0 0 0 1px var(--global-border-color);
    }
}


.c-swatch--neutral-10,
.c-swatch--neutral-20,
.c-swatch--neutral-30,
.c-swatch--neutral-40 {
    --text-caption-color: var(--global-color-neutral-80);
}

.c-swatch--neutral-50,
.c-swatch--neutral-60,
.c-swatch--neutral-70,
.c-swatch--neutral-80,
.c-swatch--neutral-90 {
    --text-caption-color: var(--global-color-neutral-20);
}

.c-swatch {
    position: relative;
    padding-bottom: 100%;
    height: 0;
}

.c-swatch--half {
    padding-bottom: 50%;
}

.c-swatch__name {
    padding: var(--global-whitespace-xxs) var(--global-whitespace-xs);
}

.hr-small {
    // height: 1px;
    height: 0;
    margin: var(--global-whitespace-default) 0;
}

.s-baseline-calc {
    &::after {
        // display: block;
	    white-space: pre;
        content: "#{$root-font-size-sm} / 5px → #{5px / $root-font-size-sm}rem";

        @include mq(bp3) {
            content: "#{$root-font-size} / 6px → #{6px / $root-font-size}rem";
        }
    }
}

.s-spacing {
    position: relative;

    // .c-baseline-overlay {
    //     display: block;
    // }
}

.s-spacing__title {
    display: inline-block;
    // margin-top: calc(var(--global-whitespace-xxs) * -1);
    white-space: nowrap;
    // line-height: var(--global-whitespace-xs);
    // padding: 0 var(--global-whitespace-xs) 0;
    // background-color: var(--global-page-backgroundColor);
    // display: none;
}

.s-spacing__body {
    position: relative;
    display: grid;
    grid-template-columns: max-content min-content;
    // grid-template-columns: auto;
    grid-gap: var(--global-whitespace-sm) var(--global-whitespace-sm);
    // grid-gap: var(--global-whitespace-xxs) var(--global-whitespace-sm);
    // align-items: start;
    align-items: center;
    // padding: var(--global-whitespace-default);
    margin-bottom: calc(var(--global-whitespace-default) + var(--global-whitespace-xxs));

    // p {
    //     display: none;
    // }
}

.s-space {
    position: relative;
    background-color: $color-gamma;
    // width: var(--s-space-dimension);
    // height: var(--global-baseline);
    // width: var(--global-baseline);
    width: 1px;
    height: var(--s-space-dimension);
    // margin-left: -7px;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 7px;
        margin-left: -3px;
        position: absolute;
        left: 0;
        background-color: $color-gamma;
    }

    &::before {
        top: -1px;
    }

    &::after {
        bottom: 0;
    }
}

.s-space--xxs {
    --s-space-dimension: var(--global-whitespace-xxs);
}

.s-space--xs {
    --s-space-dimension: var(--global-whitespace-xs);
}

.s-space--sm {
    --s-space-dimension: var(--global-whitespace-sm);
}

.s-space--md {
    --s-space-dimension: var(--global-whitespace-md);
}

.s-space--lg {
    --s-space-dimension: var(--global-whitespace-lg);
}

.s-space--default {
    --s-space-dimension: var(--global-whitespace-default);
}

.s-space--double {
    --s-space-dimension: var(--global-whitespace-double);
}

.s-space--quadruple {
    --s-space-dimension: var(--global-whitespace-quadruple);
}
