:root {
    // --global-baseline: #{6px / $root-font-size-sm}rem;
    // --global-baseline-multiplier: 4;

    --global-baseline: #{6px / $root-font-size}rem;
    --global-baseline-multiplier: 5;
    
    --global-whitespace-base: calc(var(--global-baseline) * var(--global-baseline-multiplier));

    --global-whitespace-xxxs: calc(var(--global-baseline) / 2);
    --global-whitespace-xxs: var(--global-baseline);
    --global-whitespace-xs: calc(var(--global-whitespace-base) - calc(var(--global-baseline) * 3));
    --global-whitespace-s: calc(var(--global-whitespace-base) - calc(var(--global-baseline) * 2));
    --global-whitespace-m: calc(var(--global-whitespace-base) - var(--global-baseline));
    --global-whitespace-double: calc(var(--global-whitespace-base) * 2);
    --global-whitespace-triple: calc(var(--global-whitespace-base) * 3);
    --global-whitespace-quadruple: calc(var(--global-whitespace-double) * 2);

    /* layout */
    // --global-content-maxWidth: calc(var(--global-baseline) * 120);
    --global-content-maxWidth: 36rem;
    --global-container-maxWidth: calc(var(--global-content-maxWidth) * 3);

    --global-borderRadius: var(--global-whitespace-xs);

    @include mq(bp3) {
        --global-baseline: #{6px / $root-font-size}rem;
        --global-baseline-multiplier: 5;
    }     
    
    @include mq(bp5) {
        // --global-root-fontSize: #{$root-font-size-lg/16px*100%};
        // --global-baseline: #{6px / $root-font-size-lg}rem;
        // --global-baseline-multiplier: 4;
    }     
}