:root {
    --global-color-alpha: #{$color-alpha};
    --global-hue-color-alpha: #{hue($color-alpha)};
    --global-saturation-color-alpha: #{saturation($color-alpha)};
    --global-lightness-color-alpha: #{lightness($color-alpha)};

    --global-hue-color-beta: #{hue($color-beta)};
    --global-saturation-color-beta: #{saturation($color-beta)};
    --global-lightness-color-beta: 71%;
    // --global-lightness-color-beta: #{lightness($color-beta)};
    --global-color-beta: hsl(var(--global-hue-color-beta), var(--global-saturation-color-beta), var(--global-lightness-color-beta));
    --global-lightness-color-beta-dark: 65%;
    --global-color-beta-dark: hsl(var(--global-hue-color-beta), var(--global-saturation-color-beta), var(--global-lightness-color-beta-dark));

    --global-color-gamma: #{$color-gamma};
    --global-hue-color-gamma: #{hue($color-gamma)};
    --global-saturation-color-gamma: #{saturation($color-gamma)};
    --global-lightness-color-gamma: #{lightness($color-gamma)};

    --global-neutral-hue: var(--global-hue-color-beta);
    --global-neutral-saturation: 3%;

    --global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 97%);
    --global-color-neutral-200: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 94%);
    --global-color-neutral-300: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 85%);
    --global-color-neutral-400: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 75%);
    --global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 47.5%);
    --global-color-neutral-600: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 30%);
    --global-color-neutral-700: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 20%);
    --global-color-neutral-800: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 15%);
    --global-color-neutral-900: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 10%);
}