:root {
    --global-root-fontSize: #{$root-font-size-sm/16px*100%};
    --global-fontSize-xs: #{pxtorem(15px)};
    --global-fontSize-s: #{pxtorem(17px)}; 
    --global-fontSize: 1rem; 
    --global-fontSize-m: #{pxtorem(24px)}; 
    --global-fontSize-l: #{pxtorem(30px)}; 
    --global-fontSize-xl: #{pxtorem(36px)}; 
    --global-fontSize-xxl: #{pxtorem(42px)}; 
    --global-fontSize-xxxl: #{pxtorem(50px)};   
}