:root {
    --global-color-primary-base: #fbfaff;
    --global-color-primary-base-hue: #{hue(#fbfaff)};
    --global-color-primary-base-saturation: 75%;
    --global-color-primary-base-lightness: 65%;

    --global-color-primary-hue: var(--global-color-primary-base-hue);
    --global-color-primary-saturation: 80%;
    --global-color-primary-lightness: 67%;
    --global-color-primary-hsl: var(--global-color-primary-hue), var(--global-color-primary-saturation), var(--global-color-primary-lightness);
    --global-color-primary: hsl(var(--global-color-primary-hsl));    

    --global-neutral-hue: var(--global-color-primary-hue);
    --global-neutral-saturation: 3%;

    --global-color-neutral-100: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 97%);
    // --global-color-neutral-100: hsl(var(--global-neutral-hue), 100%, 99%);
    // --global-color-neutral-100: var(--global-color-primary-base);
    --global-color-neutral-200: hsl(var(--global-neutral-hue), 15%, 93%);
    --global-color-neutral-300: hsl(var(--global-neutral-hue), 7%, 87%);
    --global-color-neutral-400: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 75%);
    --global-color-neutral-500: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 43.75%);
    --global-color-neutral-600: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 30%);
    --global-color-neutral-700: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 20%);
    --global-color-neutral-800: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 15%);
    --global-color-neutral-900: hsl(var(--global-neutral-hue), var(--global-neutral-saturation), 10%);
}