/*
 *  Specific stuff for Ida's page
 */

@import 'tools.mixins';
@import 'tools.functions';
@import 'settings.global';

$color-alpha: darkblue;
$color-beta: pink;

// fonts

@font-face {
    font-family: 'Suisse Intl Web Mono';
    src: url('../fonts/SuisseIntlMono-Regular-WebXL.woff2') format('woff2'),
    url('../fonts/SuisseIntlMono-Regular-WebXL.woff') format('woff');
    font-weight:  400;
    font-style:   normal;
    font-stretch: normal;
}

:root {  
    --global-hue-color-alpha: #{hue($color-alpha)};
    --global-surface-color: #{$color-alpha};
    --global-background-color: #{$color-beta};    
}

@media (prefers-color-scheme: dark) { 
    :root {
        --global-surface-color: #{$color-beta};        
        --global-background-color: #{$color-alpha};
        --global-background-color: hsl(var(--global-hue-color-alpha),35%,20%);
    }
}

// styles

html {
    background-color: var(--global-background-color);
    color: var(--global-surface-color);
    font-size: clamp(1em, 1.25vw, 2em);
    line-height: 1.5;
    font-family: "Suisse Intl Web Mono", monospace;;
    font-feature-settings: "liga";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

* {
    margin: 0;

    &,
    &:before,
    &:after {
        box-sizing: inherit;
    }

    & + & {
        margin-top: 1.5rem;
    }
}

body {
    --body-whitespace: calc(1rem + 5vw);
    margin: 0;
    padding: var(--body-whitespace) var(--body-whitespace) calc(var(--body-whitespace) / 2);     
    min-height: 100vh;
    display: flex; 
    flex-direction: column;   
    justify-content: space-between;    
}

::selection {
    background-color: var(--global-surface-color);
    color: var(--global-background-color);
    text-shadow: none;
}

a,
a:visited,
a:active,
a:focus {
    color: inherit;
    transition: .2s;
}

a:hover {
    opacity: 0.5;
}

.ida {
    pointer-events: none;
    fill: var(--global-surface-color);
    max-height: calc(100vh - var(--body-whitespace));
}