/*
 *  Specific stuff for the styleguide page
 */

// Tools
@import 'modularscale';
@import 'tools.mixins';
@import 'tools.functions';

// Settings
@import 'settings.colors';
@import 'settings.global';

.test {
    column-width: calc((var(--global-container-maxWidth) / 2) - #{var(--global-whitespace-base)});
    column-gap: var(--global-whitespace-base);
}

// Modular scale

.c-modularscale-list {
    display: grid;
    grid-template-columns: 1fr min-content;
    grid-gap: var(--global-whitespace-s) var(--global-whitespace-base);
    align-items: baseline;
}

.c-modularscale-list__term {
    text-align: right;
}

.c-modularscale-list__description {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.c-palette {
    display: grid;
    grid-template-columns: var(--global-whitespace-double) 1fr ;
    grid-gap: var(--global-whitespace-m) var(--global-whitespace-s);
    align-items: center;
    margin-bottom: calc(var(--global-whitespace-base) + var(--global-whitespace-xxs));
}

.c-swatches {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(var(--c-swatch-min, var(--global-whitespace-double)), 1fr));
    margin-bottom: var(--global-whitespace-base);
}

.c-swatch--neutral-10,
.c-swatch--page-backgroundColor {
    box-shadow: inset 0 0 0 1px var(--global-border-color);
}

@media (prefers-color-scheme: dark) {
    .c-swatch--neutral-10 {
        box-shadow: none;
    }

    .c-swatch--neutral-90,
    .c-swatch--page-backgroundColor {
        box-shadow: inset 0 0 0 1px var(--global-border-color);
    }
}


.c-swatch--neutral-10,
.c-swatch--neutral-20,
.c-swatch--neutral-30,
.c-swatch--neutral-40 {
    --text-caption-color: var(--global-color-neutral-90);
}

.c-swatch--neutral-50,
.c-swatch--neutral-60,
.c-swatch--neutral-70,
.c-swatch--neutral-80,
.c-swatch--neutral-90 {
    --text-caption-color: var(--global-color-neutral-10);
}

.c-swatch {
    position: relative;
    padding-bottom: 100%;
    height: 0;
}

.c-swatch--half {
    padding-bottom: 0;
    height: var(--global-whitespace-l);
}

.c-swatch__name {
    padding: var(--global-whitespace-xxs) var(--global-whitespace-xs);
}

// examples

.s-example {
    // background-color: var(--global-backgroundColor--alt);
    box-shadow: inset 0 0 0 1px var(--global-border-color);
    padding: var(--global-whitespace-base);
    margin: 0 calc(var(--global-whitespace-base) * -1) var(--global-whitespace-base);
    // margin-bottom: var(--global-whitespace-base);


    & > *:last-child {
        margin-bottom: 0;
    }
}

// Squarespace

.s-squarespace-scale {
    display: grid;
    grid-template-columns: max-content auto 1fr;
    align-items: center;
    grid-gap: var(--global-whitespace-s) var(--global-whitespace-xs);
    margin-bottom: var(--global-whitespace-base);
}

.s-squarespace {
    background-color: var(--global-baseline-background);
    width: var(--global-whitespace-base);
    // width: var(--squarespace__dimension);
    height: var(--squarespace__dimension);
    // height: var(--global-whitespace-xxs);
    // height: var(--global-whitespace-base);

    .s-squarespace-scale & {
        justify-self: end;
    }
}

.s-squarespace--xxs {
    --squarespace__dimension: var(--global-whitespace-xxs);
}

.s-squarespace--xs {
    --squarespace__dimension: var(--global-whitespace-xs);
}

.s-squarespace--s {
    --squarespace__dimension: var(--global-whitespace-s);
}

.s-squarespace--m {
    --squarespace__dimension: var(--global-whitespace-m);
}

.s-squarespace--base {
    --squarespace__dimension: var(--global-whitespace-base);
}

.s-squarespace--double {
    --squarespace__dimension: var(--global-whitespace-double);
}

.s-squarespace--triple {
    --squarespace__dimension: var(--global-whitespace-triple);
}

.s-squarespace--quadruple {
    --squarespace__dimension: var(--global-whitespace-quadruple);
}

// Space

.s-space-scale {
    display: grid;
    grid-template-columns: max-content max-content max-content;
    grid-gap: var(--global-whitespace-s) var(--global-whitespace-s);
    align-items: center;
    margin-bottom: calc(var(--global-whitespace-base) + var(--global-whitespace-xxs));
}

.s-space-scale__title {
    display: inline-block;
    white-space: nowrap;
}

.s-space {
    position: relative;
    background-color: $color-gamma;
    width: 1px;
    height: var(--s-space-dimension);

    &::before,
    &::after {
        content: '';
        display: block;
        height: 1px;
        width: 7px;
        margin-left: -3px;
        position: absolute;
        left: 0;
        background-color: $color-gamma;
    }

    &::before {
        top: 0;

        .s-baseline & {
            top: -1px;
        }
    }

    &::after {
        bottom: 0;
    }


}

.s-space--xxs {
    --s-space-dimension: var(--global-whitespace-xxs);
}

.s-space--xs {
    --s-space-dimension: var(--global-whitespace-xs);
}

.s-space--s {
    --s-space-dimension: var(--global-whitespace-s);
}

.s-space--m {
    --s-space-dimension: var(--global-whitespace-m);
}

.s-space--l {
    --s-space-dimension: var(--global-whitespace-l);
}

.s-space--base {
    --s-space-dimension: var(--global-whitespace-base);
}

.s-space--double {
    --s-space-dimension: var(--global-whitespace-double);
}

.s-space--triple {
    --s-space-dimension: var(--global-whitespace-triple);
}

.s-space--quadruple {
    --s-space-dimension: var(--global-whitespace-quadruple);
}

// baseline

.s-baseline {
    position: relative;
    margin-bottom: var(--global-whitespace-base);

    .c-baseline-overlay {
        display: block;
        right: calc(var(--global-whitespace-base));
    }

}

.s-baseline__item {
    display: flex;
    position: relative;

    & + & {
        margin-top: var(--global-whitespace-base);
    }

    .c-text-caption {
        padding-top: 0;
        padding-bottom: 0;
    }
}

.s-baseline__example {
    flex-grow: 1;
    position: relative;
    margin-bottom: 0;
    background-color: var(--global-baseline-background);
    padding: 0 var(--global-whitespace-xxs);
}

.s-baseline__times {
    white-space: nowrap;
}

.s-baseline__space {
    display: flex;
    align-items: center;
    position: relative;
    width: var(--global-whitespace-base);

    .s-space {
        height: 100%;
    }

    .c-text-caption {
        margin-left: auto;
    }
}
