{{ define "main" }}
{{- partial "header.html" . -}}

<div class="c-row">
    <p class="c-type-intro u-max-width-sm">
        I'm a designer from Belgium with over 10 years industry experience. I worked as a senior designer for <a href="http://wijs.be">Wijs</a> for 7 years. I specialize in responsive web-design, HTML &amp; CSS, typography and animation.
    </p>
    <p class="c-type-intro u-max-width-sm">
        Recently I started teaching UX and UI design at <a href="http://mct.be"title="mct.be">MCT</a> Howest in Kortrijk.

        Some of my work is on <a href="https://dribbble.com/coudeville">Dribbble</a>. My code expermiments are on <a href="https://codepen.io/simoncoudeville/">Codepen</a>. You can send me an <a href="mailto:coudeville.simon@gmail.com">email</a> or follow me on <a href="https://twitter.com/simoncoudeville">Twitter</a>.
    </p>
</div>
<div class="c-background">

</div>
{{ end }}
