{{ define "main" }}
<div class="c-gradient-background js-gradient-background">
    <div class="c-gradient-background__image js-gradient-background-image"></div>
</div>
<main class="o-row">
    <div class="o-row o-row--intro-home">
        <div class="o-container s-content">
            <p>
                Hey, I’m Simon, a designer and teacher from Belgium with over 10 years industry experience. I worked as a senior designer for <a href="http://wijs.be">Wijs</a> for 7 years. I specialize in responsive web-design, HTML &amp; CSS, typography and animation.
                Recently I started teaching UX and UI design at <a href="http://mct.be"title="mct.be">MCT</a> Howest in Kortrijk.

                Some of my work is on <a href="https://dribbble.com/coudeville">Dribbble</a>. My code expermiments are on <a href="https://codepen.io/simoncoudeville/">Codepen</a>. You can send me an <a href="mailto:coudeville.simon@gmail.com">email</a> or follow me on <a href="https://twitter.com/simoncoudeville">Twitter</a>.
            </p>
        </div>
    </div>
    <div class="o-row">
        <div class="o-container">
            <h3>Latest Articles</h3>
            <ul class="c-list">
                {{ range (where .Site.RegularPages "Section" "blog") }}
                    <li class="c-list__item">
                        <span class="c-list__meta">{{ .Date.Format "2 January 2006" }}</span>
                        <h3 class="c-list__title"><a class="c-list__link" href="{{.Permalink}}">{{.Title}}</a></h3>
                    </li>
                {{ end }}
                {{ range (where .Site.RegularPages "Section" "blog") }}
                    <li class="c-list__item">
                        <span class="c-list__meta">{{ .Date.Format "2 January 2006" }}</span>
                        <h3 class="c-list__title"><a class="c-list__link" href="{{.Permalink}}">{{.Title}}</a></h3>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</main>
{{ partial "footer.html" . }}
{{ end }}
