//
// Specific CSS styles for post 2
//

// Tools
@import '../tools.mixins';
@import '../tools.functions';

// Settings
@import '../settings.colors';
@import '../settings.global';

// components
@import '../components.example';
@import '../components.baseline';
@import '../components.toggle-4';

// Example: Baseline grid

.e-columns {
    column-width: calc((var(--global-content-maxWidth) / 2) - #{var(--global-whitespace-base)});
    column-gap: var(--global-whitespace-base);
    margin-bottom: calc(var(--global-whitespace-base) * -2);
}

// Example: profile card

.e-card {
    position: relative;
    margin: 0 auto;
    max-width: 16em;
    background-color: white;
    border-radius: baseline(1);
    box-shadow: 0 0 0 1px rgba(black, 0.05), 0 2px 4px rgba(black,.075);
    overflow: hidden;
    font-family: $alpha-font-family;
}

.e-card__body {
    position: relative;
    padding: baseline(var(--global-baseline-multiplier));

    // Reset bottom margins on children to make equal paddings possible
    > *:last-child,
    > *:last-child > *:last-child,
    > *:last-child > *:last-child > *:last-child {
        margin-bottom: 0;
    }
}

.e-profile {
    text-align: center;
}

.e-profile__avatar {
    display: block;
    width: baseline(12);
    height: baseline(12);
    margin: 0 auto baseline(1);
    border-radius: 100%;
    overflow: hidden;
    background-color: rgba(black,.075);

    img {
        opacity: var(--avatar__img-opacity, .75);
        mix-blend-mode: multiply;
    }
}

.e-profile__name {
    margin-bottom: 0;
    color: var(--global-color-neutral-800);
    font-size: var(--global-fontSize-s);
    font-weight: $beta-font-weight;
    line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline));
}

.e-profile__location {
    position: relative;
    margin-bottom: baseline(3);
    color: var(--global-meta-color);
    font-size: var(--global-fontSize-xs);
    line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline));
}

.e-profile__occupation {
    margin-bottom: baseline(4);
    color: var(--global-color-neutral-800);
    font-size: var(--global-fontSize-s);
    line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline));
}

.e-button {
    text-decoration: none;
    font-weight: $beta-font-weight;
    display: inline-block;
    border: 0;
    text-decoration: none;
    background-color: var(--global-color-beta-dark);
    border-radius: baseline(5);
    transition: all .1s ease-in;

    &,
    &:visited {
        color: #fff;
    }

    &:hover {
        background-color: var(--global-color-beta);
        color: #fff;
    }

    &:focus {
        outline: none;
        background-color: var(--global-color-beta-dark);
        box-shadow: inset 0 0 0 1px white, 0 0 0 3px hsla(var(--global-hue-color-beta), var(--global-saturation-color-beta), var(--global-lightness-color-beta-dark), .3);
        color: #fff;
    }

    &:active {
        background-color: var(--global-color-beta-dark);
        box-shadow: none;
        color: #fff;
    }

    .s-content & {
        color: #fff;
        text-decoration: none;
    }
}

.e-button--small {
    padding: baseline(2) baseline(var(--global-baseline-multiplier)) baseline(2);
    font-size: var(--global-fontSize-xs);
    line-height: calc(calc(var(--global-baseline-multiplier) - 1) * var(--global-baseline));
}

// example: features

.e-grid {
    display: grid;
    grid-column-gap: var(--global-whitespace-base);
    grid-template-columns: repeat(auto-fill, minmax(calc((var(--global-content-maxWidth) / 2) - #{var(--global-whitespace-base)}), 1fr));
}

.e-grid__item {
    grid-column: auto;
}

.e-grid__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: baseline(calc(var(--global-baseline-multiplier) * 2));
    height: baseline(calc(var(--global-baseline-multiplier) * 2));
    margin-bottom: baseline(calc(var(--global-baseline-multiplier) - 2));

    &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: var(--global-color-beta);
        border-radius: 100%;
        opacity: .25;
    }

    svg {
        position: relative;
        width: baseline(var(--global-baseline-multiplier));
        height: baseline(var(--global-baseline-multiplier));
        fill: var(--global-color-beta);
    }
}

.e-grid__title {
    margin-bottom: baseline(calc(var(--global-baseline-multiplier) - 3));
    color: var(--global-color-beta-dark);
    font-size: 1rem;
    line-height: calc(calc(var(--global-baseline-multiplier) - .5) * var(--global-baseline));
}

.e-grid__paragraph {
    font-size: var(--global-fontSize-s);
    font-family: $alpha-font-family;
    line-height: calc(calc(var(--global-baseline-multiplier) - .5) * var(--global-baseline));
}

@media (prefers-color-scheme: dark) {
    .e-grid__title {
        color: var(--global-color-beta);
    }
}

.c-baseline-button {
    display: none;
    // background-color: var(--global-text-color);
    // color: var(--global-backgroundColor);
    color: var(--global-meta-color);
    font-size: var(--global-fontSize-s);
    font-family: $alpha-font-family;
    font-weight: $beta-font-weight;
    line-height: var(--global-whitespace-base);
    // padding: var(--global-whitespace-xs) var(--global-whitespace-s) var(--global-whitespace-xs) var(--global-whitespace-m);
    // border-radius: var(--global-whitespace-base);
    outline: none;
}

.c-baseline-button:focus {
    box-shadow: var(--baseline-button-focus-shadow, 0 0 0 2px var(--global-backgroundColor), 0 0 0 4px var(--global-text-color));
}

.c-baseline-button:active {
    box-shadow: none;
}

.c-baseline-button.is-enabled {
    display: flex;
    align-items: center;
}

.c-baseline-button__icon {
    // fill: var(--global-text-color);
    fill: none;
    stroke: var(--global-text-color);
    width: 24px;
    height: 24px;
    // margin-left: var(--global-whitespace-s);
    margin-left: var(--global-whitespace-xs);
}

.c-baseline__button-check {
    width: var(--global-whitespace-base);
    height: var(--global-whitespace-base);
    // border: 1px solid var(--global-border-color-hard);
    background-color: var(--global-surfaceColor-2);
    border-radius: var(--global-whitespace-base);
    margin-left: var(--global-whitespace-xs);
    display: flex;
    align-items: center;
    justify-content: center;

    &:before,
    &:after {
        .c-baseline-button--hide & {
             content: "";
            position: absolute;
            width: 1px;
            height: calc(var(--global-whitespace-base) - .8rem);
            background-color: var(--global-border-color-hard);
        }              
    }

    &:before {
        transform: rotate(45deg);
    }

    &:after {
        transform: rotate(-45deg);
    }
}