//
// Specific CSS styles for post 2
//

// Tools
@import '../tools.mixins';
@import '../tools.functions';

// Settings
@import '../settings.colors';
@import '../settings.global';

// components
@import '../components.example';

// :root {
//     --global-color-primary-base: whitesmoke;
//     --global-color-primary-base-hue: #{hue(whitesmoke)};

//     --global-color-primary-saturation: 80%;
//     --global-color-primary-lightness: 70%;
// }

.c-palette {
    --palette-hue: var(--global-color-primary-hue);
    --palette-saturation: var(--global-color-primary-saturation);
    --palette-lightness: var(--global-color-primary-lightness);
}

.c-palette__visual {
    border-radius: var(--global-borderRadius);
}

// .c-info::after {
//     content: "HSL(#{round(huecolor-primary))}, #{round(lightnesscolor-primary))}, #{round(saturationcolor-primary))}), 
//               HSL(#{round(hue($color-alpha))}, #{round(lightness($color-alpha))}, #{round(saturation($color-alpha))}),
//               HSL(#{round(hue($color-gamma))}, #{round(lightness($color-gamma))}, #{round(saturation($color-gamma))})
//               ";
// }

.c-palette__item:nth-child(1) {
    fill: hsl(var(--palette-hue),calc(var(--palette-saturation) - 10% ),calc(var(--palette-lightness) - 15%));
}

.c-palette__item:nth-child(2) {
    fill: hsl(var(--palette-hue),calc(var(--palette-saturation) - 7.5% ),calc(var(--palette-lightness) - 10%));
}

.c-palette__item:nth-child(3) {
    fill: hsl(var(--palette-hue),calc(var(--palette-saturation) - 5% ),calc(var(--palette-lightness) - 5%));
}

.c-palette__item:nth-child(4) {
    fill: hsl(var(--palette-hue),var(--palette-saturation),var(--palette-lightness));
}

.c-palette__item:nth-child(5) {
    fill: hsl(var(--palette-hue),calc(var(--palette-saturation) + 5% ),calc(var(--palette-lightness) + 5%));
}

// //

// .c-palette__item:nth-child(1) {
//     background-color: hsl(var(--palette-hue),calc(var(--palette-saturation) - 10% ),30%);
// }

// .c-palette__item:nth-child(2) {
//     background-color: hsl(var(--palette-hue),calc(var(--palette-saturation) - 10% ),40%);
// }

// .c-palette__item:nth-child(3) {
//     background-color: hsl(var(--palette-hue),calc(var(--palette-saturation) - 15% ),50%);
// }

// .c-palette__item:nth-child(4) {
//     background-color: hsl(var(--palette-hue),var(--palette-saturation),60%);
// }

// .c-palette__item:nth-child(5) {
//     background-color: hsl(var(--palette-hue),calc(var(--palette-saturation) - 5% ),70%);
// }