<footer class="o-row o-row--footer">
        <div class="c-footer">
            <p class="c-footer__copy">               
                &copy;{{ now.Format "2006" }}
                
                <!-- Simon Coudeville -->                
            </p>
            <!-- <p class="c-footer__logo">               
                S&#x0306;
            </p>        -->
            <div class="c-footer__links">
                <div class="c-nav">
                    <ul class="o-list c-nav__list">
                        <!-- <li class="c-nav__item">
                                            &copy;                        
                                            2021
                                        </li> -->
                        <!-- <li class="c-nav__item">
                                            <a href="/" class="c-nav__link">                           
                                                Index
                                            </a>                
                                        </li> -->
                        <!-- <li class="c-nav__item">
                                            <a href="/about" class="c-nav__link">                           
                                                About
                                            </a>                
                                        </li> -->
                        <!-- <li class="c-nav__item">
                                            <a href="/blog" class="c-nav__link">
                                                Blog
                                            </a>                
                                        </li> -->
                        <li class="c-nav__item">
                            <a href="/colophon" class="c-nav__link">
                                Colophon
                            </a>
                        </li>
                        <li class="c-nav__item">
                            <a href="/blog/index.xml" class="c-nav__link">
                                RSS
                            </a>
                        </li>
                    </ul>
                </div>
                
            </div>        
            <p class="c-footer__top">
                <a class="c-footer__top-link" href="#top">↑</a>
            </p>
        </div>
</footer>
