<footer class="o-row">
    <div class="o-container">
        <div class="c-footer">
            <p>
                &copy; {{ now.Format "2006" }} Simon Coudeville
            </p>
            <!-- <ul class="c-footer__item o-list c-footer-links">
                <li class="c-footer-links__item">
                    <a href="https://dribbble.com/coudeville" class="c-footer-links__link">Dribbble</a>
                </li>
                <li class="c-footer-links__item">
                    <a href="https://codepen.io/simoncoudeville/" class="c-footer-links__link">Codepen</a>
                </li>
                <li class="c-footer-links__item">
                    <a href="https://twitter.com/simoncoudeville" class="c-footer-links__link">Twitter</a>
                </li>
            </ul> -->
        </div>
    </div>
</footer>
