<footer class="o-row o-row--footer">
        <div class="c-footer">
            <p class="c-footer__copy">               
                &copy;{{ now.Format "2006" }}                
                <!-- Simon Coudeville                 -->
            </p>
            <!-- <p class="c-footer__logo">               
                S&#x0306;
            </p>        -->
            <div class="c-footer__links">
                <ul class="o-list c-social-links">
                    <!-- <li class="c-social-links__item">
                        &copy;                        
                        2021
                    </li> -->
                    <!-- <li class="c-social-links__item">
                        <a href="/" class="c-social-links__link">                           
                            Index
                        </a>                
                    </li> -->
                    <!-- <li class="c-social-links__item">
                        <a href="/about" class="c-social-links__link">                           
                            About
                        </a>                
                    </li> -->
                    <!-- <li class="c-social-links__item">
                        <a href="/blog" class="c-social-links__link">
                            Twitter
                        </a>                
                    </li> -->
                    <li class="c-social-links__item">
                        <a href="/colophon" class="c-social-links__link">                            
                            Colophon
                        </a>
                    </li>
                    <li class="c-social-links__item">
                        <a href="/blog/index.xml" class="c-social-links__link">                            
                            RSS
                        </a>
                    </li>
                </ul>
            </div>        
            <!-- <p class="c-footer__top">
                <a class="c-footer__top-link" href="#top">↑</a>
            </p> -->
        </div>
</footer>
