<title>{{ block "title" . }}{{ with .Site.Title }}{{ . }}{{ end }} - {{ .Params.Title }}{{ end }}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta charset="utf-8">
<meta http-equiv="cleartype" content="on">
<meta name="HandheldFriendly" content="True">
<meta name="MobileOptimized" content="320">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="{{ .Params.Description }}">
<meta name="author" content="{{ .Site.Params.Author }}">
{{ if .Site.IsServer -}}
    {{- $css := resources.Get "css/screen.scss" | toCSS | postCSS -}}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    {{/* Conditional css if the post needs code highlighting */}}
    {{- if .Params.Prism -}}
    {{- $prismcss := resources.Get "css/prism.scss" | toCSS | postCSS -}}
    <link rel="stylesheet" href="{{ $prismcss.Permalink }}">
    {{- end -}}   
    {{/* Specific CSS per post or page */}}
    {{- if .Params.Style -}}
    {{- $pagestyle := resources.Get .Params.Style | toCSS | postCSS -}}
    <link rel="stylesheet" href="{{ $pagestyle.Permalink }}">
    {{- end -}}
{{- else -}}
    {{- $css := resources.Get "css/screen.scss" | toCSS | postCSS | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $css.Permalink }}">
    {{/* Conditional css if the post needs code highlighting */}}
    {{- if .Params.Prism -}}
    {{ $prismcss := resources.Get "css/prism.scss" | toCSS | postCSS | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $prismcss.Permalink }}">
    {{- end }}
    {{/* Specific CSS per post or page */}}
    {{- if .Params.Style -}}
    {{- $pagestyle := resources.Get .Params.Style | toCSS | postCSS | minify | fingerprint -}}
    <link rel="stylesheet" href="{{ $pagestyle.Permalink }}">
    {{- end -}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-72285109-1', 'auto');
        ga('send', 'pageview');
    </script>
{{- end }}
<link rel="icon" href="/favicon.png">