<section class="o-row">
  <!-- <div class="o-aside">
    <h3 class="u-mb-clear">Blog posts</h3>
  </div> -->
  <div class="o-container">
    <h2 class="h3">Personal projects</h2>
    <ul class="o-list c-list">
      <li class="c-list__item">
        <a class="c-list__link" href="https://poems.simoncoudeville.be">
          Poems from the poetry database
        </a>
        <span class="c-list__meta u-muted">Displays random poems fetched from the PoetryDB API</span>
      </li>
      <li class="c-list__item">
        <a class="c-list__link" href="https://apod.simoncoudeville.be">
          Astronomy picture of the day
        </a>
        <span class="c-list__meta u-muted">Fetches and shows data from the APOD API</span>
      </li>
    </ul>
  </div>
</section>