{{ $app := resources.Get "js/app.js" }}
{{ $js := slice $app | resources.Concat "js/app.js" | resources.Minify }}
{{ $secureJS := $js | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $secureJS.Permalink }}" integrity="{{ $secureJS.Data.Integrity }}"></script>
{{/* Conditional javascript if the post needs code highlighting */}}
{{ if .Params.Code }}
{{ $prism := resources.Get "js/prism.js" }}
{{ $prsimjs := slice $prism | resources.Concat "js/prism.js" | resources.Minify }}
{{ $prismsecureJS := $prsimjs | resources.Fingerprint "sha512" }}
<script type="text/javascript" src="{{ $prismsecureJS.Permalink }}" integrity="{{ $prismsecureJS.Data.Integrity }}"></script>
{{ end }}
